[2013-09-15 11:34] irvin opened #1 "404 畫面加入協尋失蹤兒童服務"
討論串： https://groups.google.com/d/msg/moztw-general/V1ItXlA7aWY/jSEgIXA0eNwJ

參考一下掛上的效果： http://www.ipeen.com.tw/msg.php
404 協尋的網站： http://404page.missingkids.org.tw/

[2013-09-15 11:37] irvin opened #2 "404 Adopt sandstone"
http://moztw.org/404.shtml

[2013-10-10 18:59] irvin opened #7 "fix version detector of download box for Thunderbird/index2"
The version detector is broken, it should be automatically detect and indicate which version user should download.

Alternative way is switch to new download box, please take the button in following page as example.
http://www.mozilla.org/en-US/thunderbird/

[2013-10-10 19:01] irvin opened #8 "fix download button for /firefox-new"
The download button will disappear once the page load

[2013-10-11 07:44] irvin opened #9 "開 Firefox OS & Firefox Android 討論區"
1. 開設討論區
2. 把 Firefox 版內的相關文章搬過去

[2013-10-11 07:46] #9 closed, assigned to irvin

[2013-10-12 15:45] irvin opened #10 "Each place of moztw-lab should be linkable."
http://moztw/events/moztw-lab/

Current it only default to showing information of Taipei,
The url for each places should be linkable, for ex.,
http://moztw/events/moztw-lab/#hc for HsinChu,
http://moztw/events/moztw-lab/#kl for Keelung,

and based on the hash tag to default showing information of different location.

[2013-11-22 11:33] petercpg opened #16 "Add English translation for MozTW Lab event and venues."
We should make an English verison of http://moztw.org/events/moztw-lab/ for those who don't read Chinese. Probably need a new design?

The venue information (location, address, time, date, basic access info) should be translated into English at least.

[2013-12-06 19:10] #7 closed, assigned to mingtsay

[2013-12-06 19:11] mingtsay opened #17 "new branch: sandstone-improve"
We need a better sandstone code.

[2014-01-15 09:58] irvin opened #20 "Update holiday info for MozTW Lab event and venues for Hsinchu & Keelong"
As it's temporary close at winder vocation and yellow duck exhibition, the info on the page should be updated.

[2014-01-25 05:10] #20 closed, assigned to nobody

[2014-01-26 16:05] irvin opened #22 "Mozilla Location Service 專案頁面"
需要一個 Location Service 中文介紹頁面用以推廣，內容包含：
- Location Services 簡介
  - privacy 相關資訊：收集的內容與目的
- 如何下載安裝、操作
- 連結到資料現況
  - 嵌入台灣現況地圖
- 連連到原文專案頁面與 wiki
  - 連結到 API
- 如何參與：Github repo

在首頁大標題處宣傳、section 處輪播

網址參考：moztw.org/mozloc

[2014-03-05 11:03] appleboy opened #25 "100學年度下學期服務學習成果網頁"
cc @irvin

http://www-stage.moztw.org/events/service2013q4/

[2014-03-06 06:40] #25 closed, assigned to appleboy

[2014-03-10 06:07] irvin opened #26 "加入 MozTW Planet 表單"
放一個「申請加入 planet」的表單到 planet.moztw.org 上

[2014-03-11 12:20] irvin opened #27 "使用 Mozillians API 把 #moztw 的成員拉回來製作成社群成員頁面"
https://mozillians.org/zh-TW/search/?q=%23moztw
http://mozillians.readthedocs.org/en/latest/api-groups.html#endpoint

應該可以透過 Mozillians API 去拉回 moztw group 的成員基本資料，並且組成社群成員頁面。

更新：目前等待 Mozillians.org 的 API 狀況 https://bugzilla.mozilla.org/show_bug.cgi?id=1031660

[2014-04-30 05:28] irvin opened #31 "更新 moztw.org/firefox 抓取一些新的內容進來"
Fetch the content from  http://www.mozilla.org/en-US/firefox/desktop/  and update the moztw.org/firefox

[2014-04-30 05:48] irvin opened #32 "frontpage transition to sandstone"
we need to really get things done for http://moztw.org/index2.html and replaced the current one.

[2014-05-14 13:24] HenryYang opened #33 "space 網頁需求 - 基本介紹"
基本介紹 - 提供基本介紹所需的文字 與 場地照片

[2014-05-14 13:25] HenryYang opened #34 "space 網頁需求 - 列出當前活動"
列出當前活動 - 開新gCalendar與權限

[2014-05-14 13:26] HenryYang opened #35 "space 網頁需求 - 地址"
地址 - 提供英文地址、創Gmap自定地圖 (ex：指引人如何從捷運站到場地)

[2014-05-14 13:29] HenryYang opened #36 "space 網頁需求 - 場地會提供的東西"
場地會提供的東西 - 文字列出場地所有的東西

[2014-05-14 13:31] HenryYang opened #37 "space 網頁需求 - 開放時間"
開放時間 - 文字列出開放時間，並且重點提示如果你找的到keyholder也可以請他開門讓你進去

[2014-05-14 13:31] HenryYang opened #38 "space 網頁需求 - 聯絡我們"
聯絡我們 - 在Google apps 開 group 做 forward給key holder

[2014-07-03 18:15] irvin opened #48 "Thunderbird 網頁需要更新內容"
moztw.org/thunderbird 內容有點過時，需要參考英文版，
更新一下內容：http://www.mozilla.org/en-US/thunderbird/features/
需更新的檔案為： https://github.com/moztw/www.moztw.org/blob/master/thunderbird/index.shtml

[2014-07-03 18:20] irvin opened #49 "space 網頁需求 - 最新照片"
加上 Flickr 群組的照片輪播：
https://www.flickr.com/groups/2664848@N20/

[2014-07-23 11:10] #37 closed, assigned to nobody

[2014-07-23 11:11] #36 closed, assigned to nobody

[2014-07-23 11:12] #35 closed, assigned to HenryYang

[2014-07-23 11:18] #34 closed, assigned to nobody

[2014-07-23 11:18] #33 closed, assigned to dwchiang

[2014-07-23 11:19] irvin opened #54 "space 網頁 - 使用 OSM"
可參考 http://moztw.org/events/moztw-lab/ 把地圖換成 OSM，另外放 Google Map 的連結就好

[2014-07-23 11:35] irvin opened #55 "Thunderbird Release History 頁面加上下載按鈕"
讓人在看 Release History 的時候第一時間就可以下載

[2014-07-23 11:36] irvin opened #56 "Firefox Release History 頁面加上下載按鈕"
讓人在看 Release 新功能的時候第一時間就可以下載

[2014-07-23 11:37] irvin opened #57 "Space 頁面需要加上英文資訊"
可考慮直接中英文資訊，或參考 /foxmosa 做成 l10n 的功能

[2014-07-23 11:38] irvin opened #58 "/community 頁面補完內容"
目前內容跟版面都是未完成狀態，需要補完

[2014-07-25 06:10] irvin opened #60 "Foxmosa adopt Sandstone theme"
http://moztw.org/foxmosa-dev/
Need to repair Tabzilla (according to /thunderbird )

[2014-07-25 06:12] irvin opened #61 "/Firefox adopt Sandstone theme"
need to fix download button, tabzilla, responsive theme
(參考 /thunderbird )

[2014-07-27 05:14] irvin opened #62 "Space 頁面加上借用說明"
大概內容：

本場地座位約可容納 10~20 人、佔位或無桌椅則可達 30 人以上。
我們無償歡迎開源碼、開放文化方向的數位專案在此舉辦活動，場地提供桌椅、電源、飛快的網路與無限暢飲可樂機。但請配合於活動開始後，讓我們進行20分鐘的 Mozilla/MozTW 簡介。

想到摩茲工寮辦活動？歡迎到 moztw-general@googlegroups.com 與大家討論需求（記得介紹您的組織與專案）。
欲直接聯絡 keyholders，亦可聯繫 space@moztw.org

[2014-07-27 21:34] RJHsiao opened #63 "Space 頁面加上日文頁面/資訊 & 日文名稱"
據說有人提，不太清楚要加一個新頁面還是只是資訊，總之我先開個新 issue

主要是日文名稱採中文+日文片假名標音，摩茲工寮的日文發音應該是「モズゴンリャウ」，有異議請提出。
標記方式建議採 [HTML5 的 `<ruby>` element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ruby) 進行逐字標音，呈現結果如附圖所示：
![附圖：以HTML5 的 `<ruby>` element對摩茲工寮的日文發音「モズゴンリャウ」進行逐字標音](https://cloud.githubusercontent.com/assets/236116/3715212/89dcf0c8-15d5-11e4-9b92-8529dc2696ea.jpg)

[2014-08-25 07:10] mingtsay opened #66 "Sandstone for /firefox/tw"

[2014-08-29 19:16] #38 closed, assigned to bobchao

[2014-08-30 08:50] #17 closed, assigned to mingtsay

[2014-08-30 09:34] #62 closed, assigned to chihsuan

[2014-08-30 09:43] #54 closed, assigned to nobody

[2014-08-30 11:26] #1 closed, assigned to nobody

[2014-08-30 11:26] #2 closed, assigned to chihsuan

[2014-08-30 12:27] #57 closed, assigned to chennien

[2014-09-01 02:43] #8 closed, assigned to nobody

[2014-09-01 02:54] #60 closed, assigned to chyuaner

[2014-09-01 02:56] irvin opened #78 "/foxmosa 版面問題"
http://moztw.org/foxmosa/

在大螢幕之上 foxmosa 會跑出右側，Responsive 時手機版面上有點問題

[2014-09-01 03:40] #63 closed, assigned to RJHsiao

[2014-09-01 03:52] #61 closed, assigned to Knight-X

[2014-09-09 05:15] irvin opened #79 "Space 頁面「提供設備」中加上 投影機/音響/麥克風"

[2014-09-09 05:29] #79 closed, assigned to RJHsiao

[2014-09-09 06:16] irvin opened #81 "整理 404 頁面上的資訊"
目前 404 頁面上有三個很老的連結跟搜索，我們需要看看這四個功能的使用率，然後決定要怎麼重新整理一下上面的資訊。

http://moztw.org/404.shtml

[2014-09-09 06:17] irvin opened #82 "在 404 頁面上加上下載鈕"
或許直接在 404 放顆 Firefox 下載鈕會蠻方便？
可參考 GA 中 404 頁面的次頁跟動作有沒有關聯。

[2014-09-10 05:30] irvin opened #83 "/space 中間加上英文簡介"
http://moztw.org/space
https://github.com/moztw/www.moztw.org/blob/master/space/index.shtml

中間部分要有簡單的英文說明，讓外國人知道這個地方是做什麼的。
網頁的 <title> 也需要加上英文。

[2014-09-10 05:36] #83 closed, assigned to nobody

[2014-09-10 05:50] irvin opened #84 "/space 增加照片"
目前 moztw.org/space 網頁上只有兩張照片，或許可以改成從 RSS 自動取用全景照片：

http://api.flickr.com/services/feeds/photos_public.gne?tags=%E6%91%A9%E8%8C%B2%E5%B7%A5%E5%AF%AE,panorama

[2014-09-10 10:01] bobchao opened #85 "[space] Add "About" section"
幾個要點
1. Community Space 計劃希望打造完全由社群自行營運（Mozilla 支援部分經費）的空間，借此擴大社群、增加參與。詳情可見 https://wiki.mozilla.org/Contribute/WPR/Community_Space_Initiative
2. 這是 Mozilla Community Space 實驗計劃中第一個開幕的空間，由 MozTW （Mozilla 台灣社群）營運

可能中英文都要有

順序
1. 我先把中文文案寫出來，另外開分案翻譯文字
2. 決定版面次序跟相應 style，實作

[2014-09-10 10:02] #84 closed, assigned to nobody

[2014-09-13 11:13] irvin opened #86 "moztw-lab style broken after apply sandstone"

[2014-09-13 11:13] #86 closed, assigned to irvin

[2014-09-14 13:03] #16 closed, assigned to TobyOoO

[2014-09-17 02:38] irvin opened #88 "/contribute adopt Sandstone"
http://moztw.org/contribute/

[2014-09-17 02:39] irvin opened #89 "/about adopt Sandstone"
http://moztw.org/about/

[2014-09-17 02:40] irvin opened #90 "/events adopt Sandstone"
http://moztw.org/events/

[2014-09-17 02:40] irvin opened #91 "/dl adopt Sandstone"
http://moztw.org/dl/

[2014-09-17 02:44] irvin opened #92 "Firefox 十週年賀圖上首頁"
將首頁大圖更換為十週年賀圖，可考慮加上一些動態
https://www.dropbox.com/sh/k3mk0s21zba612w/AAAzxXIsTGnXGklPaWJyadC7a?dl=0

更新上首頁： http://moztw.org

[2014-09-17 02:50] irvin opened #93 "/mobile adopt Sandstone"
http://moztw.org/mobile/
套用新樣式前，要注意這一頁的 Responsive 設計（大螢幕 / mobile / 電腦上螢幕高度低時的滑動手機）

https://groups.google.com/forum/#!searchin/moztw-general/android$20responsive/moztw-general/hMi1dONKA_I/L7f8ZUhUKCQJ

[2014-09-17 02:52] irvin opened #94 "修正 Firefox 新版頁面的 Responsive"
http://moztw.org/firefox-new/
在套用 Sandstone 樣式後，Responsive 有點故障

[2014-09-17 13:37] bobchao opened #95 "Space 的「我們提供什麼」以 icon 展示"
用比較有趣且達意的 icon 展示，例如

![10711553_10152630291710219_391689699_n](https://cloud.githubusercontent.com/assets/168931/4304300/af2e3658-3e6f-11e4-8445-f79471a2cb3f.jpg)

目前先請 goescat 幫忙畫畫看，assign 給我自己處理進度跟 style

[2014-09-18 05:14] #49 closed, assigned to bobchao

[2014-09-18 16:45] #85 closed, assigned to bobchao

[2014-09-19 05:45] bobchao opened #100 "[space] 整理場地借用方式"
@ETBlue 起草了 https://etherpad.mozilla.org/frG3YXAEJ4 ，我們需要把它整理一下定案，再決定要怎麼放。

[2014-09-21 18:34] #95 closed, assigned to bobchao

[2014-11-06 06:49] irvin opened #107 "首頁切換 Sandstone"
目前開發進度：http://moztw.org/index2.html
主要要修復中間的下載按鈕（目前是 404），接著把下方內容補完，即可切換

[2014-11-17 09:22] #92 closed, assigned to nobody

[2014-12-23 06:35] irvin opened #116 "年終募款活動首頁"
https://groups.google.com/d/msg/moztw-general/AD0IHtwY6Yg/0QQdM4fYzVQJ

將首頁放上年終募款活動宣傳

以下截圖是去年的首頁，GIT commit 是 c30e3cdcbdfd88908efe8538977d93159e3bfc51

最基本的方法就是先把首頁這部分的 code 放回去，或者有什麼新的想法（新設計？新圖？），也可以來幫忙做看看～

![](https://cloud.githubusercontent.com/assets/165936/5535162/f70bf522-8ab0-11e4-8ffc-bfb877652b7a.png)

[2015-01-06 07:34] irvin opened #121 "Foxmosa 加上 Line 貼圖與下載Telegram 貼圖連結"
Telegram 貼圖連結： https://www.dropbox.com/s/h8cmf2f6iu3vpm3/Foxmosa%20IM%20Stickers%20%28cc-by-nc-sa-3.0%20%40MozTW%20x%20P.C.polliwog%29.zip?dl=0
Line 貼圖連結： https://store.line.me/stickershop/product/1005599/

[2015-01-06 07:35] irvin commented on #121
Telegram 貼圖連結： https://www.dropbox.com/s/h8cmf2f6iu3vpm3/Foxmosa%20IM%20Stickers%20%28cc-by-nc-sa-3.0%20%40MozTW%20x%20P.C.polliwog%29.zip?dl=0
Line 貼圖連結： https://store.line.me/stickershop/product/1005599/

[2015-01-06 07:40] petercpg commented on #121
貼圖丟到 MozTW 主機比較好吧？Dropbox 容易一陣子死連結。

[2015-01-06 07:43] irvin commented on #121
只是先暫時丟那邊

[2015-01-07 09:52] wi1d5ky commented on #121
https://www.dropbox.com/s/h8cmf2f6iu3vpm3/Foxmosa%20IM%20Stickers%20%28cc-by-nc-sa-3.0%20%40MozTW%20x%20P.C.polliwog%29.zip?dl=0
後面的 dl=0 改成 dl=1 就可以直接下載
變成這樣:
https://www.dropbox.com/s/h8cmf2f6iu3vpm3/Foxmosa%20IM%20Stickers%20%28cc-by-nc-sa-3.0%20%40MozTW%20x%20P.C.polliwog%29.zip?dl=1
剛好想到就提一下 XD

[2015-01-08 02:35] irvin opened #122 "考慮把 Firefox 下載後頁面跟版本資訊合併"
下載後頁面： http://moztw.org/firefox/download/latest-osx.html
版本資訊： http://moztw.org/firefox/releases/

下載後資訊的頁面很久沒有更新，裡面只有一些連結，
版本資訊頁面應該是對使用者比較有用的資料，
我想可以把各連結的使用率抓出來比較一下，更新到版本資訊頁去，讓他二合一。

[2015-01-17 06:59] wi1d5ky commented on #10
網址支援 http://moztw.org/events/moztw-lab/

[2015-01-17 09:17] wi1d5ky commented on #121
https://github.com/moztw/www.moztw.org/pull/129  (遞

[2015-01-17 09:23] wi1d5ky commented on #94
這頁的 RWD 我來修修看

[2015-01-17 12:38] wi1d5ky commented on #94
https://github.com/moztw/www.moztw.org/pull/130 修成這樣
![screenshot](https://cloud.githubusercontent.com/assets/6042803/5788823/11a16f3a-9e88-11e4-8cde-082cda0ea123.PNG)
![screenshot2](https://cloud.githubusercontent.com/assets/6042803/5788831/be477f18-9e88-11e4-86ee-93ea4a95867b.PNG)

[2015-01-17 12:39] wi1d5ky commented on #48
@irvin 記得 close 唷~

[2015-01-17 15:34] irvin commented on #94
有寬有窄的問題也可以調整嗎？

wildsky <notifications@github.com> 於 2015年1月17日 星期六寫道：

--
@ irvinfly: community liaison
moztw.org Mozilla Taiwan community

[2015-01-17 15:45] wi1d5ky commented on #94
好，我等等修修看

[2015-01-17 17:43] wi1d5ky commented on #94
完成!
![寬度一致了~](https://cloud.githubusercontent.com/assets/6042803/5789762/42e842f0-9eb3-11e4-91cd-d3a26c1f72db.PNG)

[2015-01-17 18:56] #48 closed

[2015-01-17 19:45] petercpg opened #131 "Add information about Firefox "Taiwan Version" discontinued to /firefox/tw/"

[2015-01-19 06:28] irvin opened #132 "把台灣版網頁的「套件安裝」與「下載」連結指向本地的檔案"
myfirefox 關門了，因此那些套件與安裝黨不知會在何時被取下。
最為數位典藏，套件安裝與下載按鈕需要指回自己本機上的備份檔案。

[2015-01-19 06:45] irvin commented on #132
https://drive.google.com/open?id=0B9BU22m9p7kqanhSV2kzMTVQY3M&authuser=0 安裝檔與套件 xpi 備份

[2015-01-19 06:51] petercpg commented on #132
我想應該比照 mozilla suite 的 notice 處理就可以了，我們不必特別 host 這些檔案。如果有其他需要可以 fork addon
的 github repo 過來留著。

另外 MoCo 的「使用者體驗改善計畫」
http://mozilla.com.tw/firefox/ueip/ 也會重導去其他地方。
2015/1/19 下午2:28 於 "Irvin" <notifications@github.com> 寫道：

[2015-01-19 07:03] irvin commented on #132
不是每一個 addon 都有 github repo (也只有幾個有上 addon.mozilla.org)
作為典藏的目的，放著還是不錯，以後有人要找也只能來這了

2015-01-19 14:51 GMT+08:00 Peter Chen <notifications@github.com>:

--
@ irvinfly: community liaison
moztw.org Mozilla Taiwan community

[2015-01-19 07:04] irvin commented on #132
人事已非，「使用體驗改善計畫」跟其他被 PR 的內容可以退回最早我們的用詞，不用這麼隱晦了。

2015-01-19 15:02 GMT+08:00 Irvin Chen <irvin@mail.moztw.org>:

--
@ irvinfly: community liaison
moztw.org Mozilla Taiwan community

[2015-01-19 07:08] mingtsay commented on #132
那要由我來更新嗎？今天晚上我可以更新這頁！

On 2015年1月19日週一 15:04 Irvin <notifications@github.com> wrote:

[2015-01-19 07:36] irvin commented on #121
Merge 了，下次最好把 PR 分開，一個 merge 只做一件事情的原則

[2015-01-19 07:36] #121 closed

[2015-01-19 07:40] wi1d5ky commented on #121
好，不過我不太清楚要怎麼開第二個PR，當時要送的時候發現只有 view pull request 的選項而已…@@
是要開一個新的 ｂｒａｃｈ 去做第二件事嗎？

[2015-01-19 07:41] irvin commented on #121
對，理論上我們應該要把 feature 分 branch 來做，不過同時間沒有這麼多修改的時候，先不管好了

[2015-01-19 07:42] irvin commented on #94
![2015-01-19 15 40 07](https://cloud.githubusercontent.com/assets/165936/5797273/b002e734-9ff1-11e4-8d63-130d454a0d18.png)
下載鈕的位置也修一下？（下方壓字）

[2015-01-19 07:44] irvin opened #133 "更新 /firefox-new/ 上的抓圖"
這一頁上面的抓圖都是舊版的介面，最好能重抓成新的介面更新一下

[2015-01-19 07:45] wi1d5ky commented on #121
OK，下次會注意！
還要說聲抱歉，因為我還不熟悉 git 的使用，所以會有很多問題，我會努力的 >___<

[2015-01-19 07:45] irvin opened #134 "確認 /firefox-new 的下載鈕正常"
需要確認他已經能判斷 OS 平台，提供正確的下載鈕。

[2015-01-19 07:45] irvin commented on #134
@wi1d5ky 可以幫忙確認一下看看嗎？

[2015-01-19 07:47] irvin commented on #121
你也可以研究一下 git rebase -i，就可以把 commit 都整理好再發 PR 了，會漂亮很多

[2015-01-19 07:53] wi1d5ky commented on #134
windows 會跳到 <a href="http://moztw.org/firefox/download/latest-win.html">這裡</a>，正常
Android_zenfone5，下載鈕不見了....(如下圖)
<img src="https://s3.amazonaws.com/pushbullet-uploads/ujEuDWG4uzI-y4uhs5lmfIECugnmVHOpklfEkByM9syL/Screenshot_2015-01-19-15-50-18.png" height="500px" width="auto">

[2015-01-19 07:54] irvin commented on #134
那就加上按鈕連到 Play Store 去吧～
https://play.google.com/store/apps/details?id=org.mozilla.firefox

[2015-01-19 08:00] wi1d5ky commented on #121
我好像有用過 rebase，不過當時是為了與被 fork 的 repo 同步才用
好像是可以避免冗餘的 merge commit，我再去研究研究

[2015-01-19 08:01] wi1d5ky commented on #134
不過還蠻奇怪的，明明電腦上用適應性設計模式看按鈕就還在，在手機上看卻不見了

[2015-01-19 08:07] irvin commented on #121
rebase 我常用的有兩種功能，
一種是把已經修改很久的 branch，把上游的修改併進來，把 branch 分叉的地方往後哪。
另一種 rebase -i 是可以把每個 commit 都重新來一遍，途中可以合併或修改任何變動。

於 2015年1月19日 於 下午4:00:10, wildsky (notifications@github.com) 寫:

我好像有用過 rebase，不過當時是為了與被 fork 的 repo 同步才用
好像是可以避免冗餘的 merge commit，我再去研究研究

—
Reply to this email directly or view it on GitHub.

[2015-01-19 08:11] irvin commented on #134
看 js，在無法用 ua 判斷是那顆按鈕時，應該要有一顆通用的按鈕（或只剩下全部平台的連結）出現才對

[2015-01-19 08:18] appleboy commented on #121
我超常用第一種 git rebase. 把舊的 branch commit 拉到最上面

[2015-01-19 10:27] wi1d5ky commented on #134
咦? @irvin osx 上的按鈕是正確的嗎?
download.js 裡面是 mac, 可是 diff-new.html 是 osx ?

[2015-01-19 10:31] wi1d5ky commented on #134
Btw，我增加 android 的按鈕後，要順便調他的位置再一起送 PR 嗎？ (issue https://github.com/moztw/www.moztw.org/issues/94 下面提到的"下方壓字問題")

[2015-01-19 10:45] irvin commented on #134
sure

2015-01-19 18:31 GMT+08:00 wildsky <notifications@github.com>:

--
@ irvinfly: community liaison
moztw.org Mozilla Taiwan community

[2015-01-22 05:33] wi1d5ky commented on #134
有送 PR 囉！ （一直忘了來說一聲…
https://github.com/moztw/www.moztw.org/pull/136

[2015-01-22 05:38] irvin commented on #134
你有沒有覺得這一頁還有任何問題？
可以上線了嗎

wildsky <notifications@github.com> 於 2015年1月22日 星期四寫道：

--
@ irvinfly: community liaison
moztw.org Mozilla Taiwan community

[2015-01-23 07:02] irvin opened #138 "將 /firefox 的側欄連結都加入 /firefox-new 中"
/Firefox 的側欄連結中，下方連結只有部分出現在 /firefox-new 的「社群資源」內；先全部加入再依使用率取掉。

技術支援與套件下載

    外掛程式更新
    （檢查 Flash、多媒體播放支援）
    取得套件及佈景主題
    Mozilla 技術支援中心

中文社群資源

    Firefox 中文討論區
    Youtube Firefox 影片頻道
    社群嚴選：擴充套件 Top 15
    某瀏覽器功能，Firefox 有沒有？
    新增中文搜尋引擎

推廣 Firefox

    取得 Blog 推廣貼紙 *
    臉書貼紙推廣 Firefox

* 連結至 Mozilla 網站

[2015-01-23 07:05] #94 closed

[2015-01-23 07:06] irvin commented on #32
resolved duplicated https://github.com/moztw/www.moztw.org/issues/107

[2015-01-23 07:06] #32 closed

[2015-01-25 04:54] wi1d5ky commented on #134
按鈕都正常了！ 不過我發現另一個 bug，等等送 PR 上來

[2015-01-25 05:17] wi1d5ky commented on #138
藍色字部份是原本就有的超連結，附上更改後的樣子
電腦版面基本上沒問題，只要再把連結加上去就沒事了
但手機板的 margin-left 要調一下，不然太浪費空間了
@Irvin 有沒有其他建議呢？

![2015-01-25 13 13 45](https://cloud.githubusercontent.com/assets/6042803/5890412/20594356-a494-11e4-81f7-f87affc211eb.png)
![2015-01-25 13 14 21](https://cloud.githubusercontent.com/assets/6042803/5890413/20822a32-a494-11e4-8bb5-f879feac2626.png)

[2015-01-25 05:20] wi1d5ky commented on #138
確認一下，「中文討論區」在舊網站原本是放在「技術支援」的標題下，這邊要移到「中文社群資源」嗎?

[2015-01-25 05:53] wi1d5ky commented on #138
PR https://github.com/moztw/www.moztw.org/pull/140

[2015-01-25 06:00] irvin commented on #138
目標是先把 firefox-new 換上去，所以先通通放進去再說，可以再根據點擊率去調整

[2015-01-25 06:00] #138 closed

[2015-01-25 06:04] irvin opened #141 "sandstone 首頁的下載按鈕修正"
現在 http://moztw.org/index2.shtml 的下載按鈕，好像沒辦法針對平台自動更新；需要把 /firefox-new 的下載按鈕搬過來

[2015-01-25 06:05] irvin commented on #141
@wi1d5ky 接下來能幫忙修這個嗎？直接把你在 /firefox-new 那邊的按鈕整個搬過來看看

[2015-01-25 06:05] irvin commented on #134
我會找時間把這個頁面整個檢查過一遍，然後就換過去了

[2015-01-25 06:08] wi1d5ky commented on #141
好！

[2015-01-25 06:29] wi1d5ky commented on #141
功能可以用，但是手機版面就有點悽慘XD
![2015-01-25 14 27 15](https://cloud.githubusercontent.com/assets/6042803/5890609/89e2f376-a49e-11e4-9af1-5fcaae29ff8a.png)

[2015-01-25 06:48] irvin commented on #141
我覺得可以參考現在moztw首頁的做法，直接就把按鈕藏起來換大圖指到 /mobile 去，省麻煩
On 2015年1月25日 週日 at 下午2:29 wildsky <notifications@github.com> wrote:

[2015-01-26 06:15] irvin opened #143 "在 /foxmosa 的外連連結加上 GA 事件追蹤"
這一樣的連結都沒有加上 GA 追蹤事件去追蹤外連，
參考其他頁面的設定， <a> 都要補上：
onclick="ga('send', 'event', 'Outgoing', 'Firefox Mozilla - Channel', 'foxmosa');"
第四個參數是目的地頁面的簡述

[2015-01-26 06:16] irvin commented on #143
@wi1d5ky 能幫忙補補？

[2015-01-26 06:22] wi1d5ky commented on #143
好，我有時間的時候來弄

[2015-01-28 07:36] wi1d5ky commented on #143
有送 PR 囉，可是可能還要作一些修改，麻煩 @irvin 幫我看看了
https://github.com/moztw/www.moztw.org/pull/144

[2015-01-28 13:38] wi1d5ky commented on #141
這個也忘了給 PR … https://github.com/moztw/www.moztw.org/pull/142

[2015-01-29 15:39] #143 closed

[2015-01-29 15:41] #141 closed

[2015-01-29 16:52] irvin opened #146 "/firefox 切換 sandstone"
確認 /firefox-new 都沒問題就替換過去

[2015-01-30 03:13] appleboy commented on #25
@irvin 我還以為 assigned 什麼 Job 給我，原來是去年的東西 XD

[2015-01-30 03:25] irvin commented on #25
把一些 close 掉卻沒 assigned 的 bug 都加一加XD

[2015-01-30 03:26] irvin commented on #25
BTW，要不要順便來做做今年（去年上半）的XD

[2015-01-31 12:57] wi1d5ky commented on #146
在想 footer 要不要修，它有點偏左邊了
![2015-01-31 20 56 04](https://cloud.githubusercontent.com/assets/6042803/5988114/9ff85c86-a98b-11e4-8ef2-2114fba18d16.png)

[2015-01-31 13:27] wi1d5ky commented on #146
原來是 /sandstone/css/style.css 的 34 行，有個 margin: -20px
(https://github.com/moztw/www.moztw.org/blob/master/sandstone/css/style.css#L34)
不過為什麼這邊會需要 -20px 呀@@?

[2015-01-31 13:27] petercpg commented on #146
「推廣 Firefox」標題左邊的那個點點是不是該藏起來？

[2015-01-31 13:29] wi1d5ky commented on #146
@petercpg 我當初是看原本有點點所以就沒把他拿掉

[2015-01-31 13:33] petercpg commented on #146
我覺得在小螢幕的情況下有點醜 XD 然後上面的小標題也都沒有點點而且有 flow 這樣。如果不改也行，不算非常必要

[2015-01-31 16:05] irvin commented on #146
點點真的有點醜，修了他吧。
Footer 參考首頁的樣式，在小螢幕上應該要置中（順便檢查用 sandstone 的其他頁，有些應該有做置中，可以統一改一下

[2015-02-02 02:36] #10 closed

[2015-02-02 16:16] wi1d5ky opened #149 "Thunderbird 的下載按鈕"
http://moztw.org/thunderbird/
我用 fedora 下載下來是 exe 檔...
不過按鈕上的字樣是 linux 沒錯
![2015-02-03 00 15 16](https://cloud.githubusercontent.com/assets/6042803/6003856/d3df306a-ab39-11e4-870c-59a90aa48c75.png)

[2015-02-05 14:02] irvin opened #150 "/firefox 切換新版時，要保留舊版給 IE6 用戶看"
必須建立偵測 user agent 轉址到舊版頁面的機制

![2015-02-05 21 50 59](https://cloud.githubusercontent.com/assets/165936/6061416/9358ea04-ad82-11e4-9c77-9db54aaca25b.png)

[2015-02-06 02:27] irvin opened #151 "整理 readme"
說明
* 如何架設環境
* commit/PR 流程與原則

[2015-02-07 06:35] irvin opened #152 "測試 NotoSans webfont 服務"

[2015-02-14 04:36] irvin opened #156 "摩茲工寮頁面接上 flickr API 取得工寮群組最新照片"
說明： https://www.flickr.com/services/api/explore/flickr.groups.pools.getPhotos

JSONP 取得工寮群組最新相片：
https://api.flickr.com/services/rest/?method=flickr.groups.pools.getPhotos&api_key=2d53943173b9f1a19c06aedbb98b2ca5&group_id=2664848%40N20&format=json

[2015-03-04 10:44] irvin commented on #149
wildsky 幫忙再檢查看看現在有沒有恢復正常了？

[2015-03-04 10:53] wi1d5ky commented on #149
正常囉！
![2015-03-04 18 53 11](https://cloud.githubusercontent.com/assets/6042803/6482330/be7aeb6a-c29f-11e4-8c75-99a2fd6eeb76.png)

[2015-03-04 10:53] #149 closed

[2015-03-04 10:55] irvin commented on #149
感謝 @VoidChen

[2015-03-05 07:02] petercpg commented on #152
Closed due to WebFont service down, and no response from Arphic. Seems no others are hosting Noto Sans CJK so closing this issue.

[2015-03-05 07:02] #152 closed

[2015-03-10 08:49] irvin opened #161 "服務學習補上教授姓名"
http://moztw.org/events/service2013/
http://moztw.org/events/service2013q4/
在簡介最後面需要補上一段：
交大服務學習課程指導教授：林正中教授

[2015-03-10 08:51] irvin opened #162 "製作 2014 第一學期的服務學習頁面"
參考過去的成果彙整頁面： http://moztw.org/events/service2013/
成果列表在此： https://docs.google.com/spreadsheets/d/1xW2g3aE_3Bd9wZ5wiwTy3Kor861W6B9Kj8W7ZR9G1O4/edit?usp=sharing

[2015-03-10 17:15] irvin opened #163 "Foxmosa 頁面的英文版之中有中文"
![2015-03-11 01 12 26](https://cloud.githubusercontent.com/assets/165936/6580519/19472c20-c78c-11e4-8c4b-33429a14be3e.png)
需要把 L10n 修好

[2015-03-12 04:22] irvin opened #164 "Mobilized /firefox/release/*"
Google 將開始調整非 touch friendly 頁面的排序，因此我們需要調整以下版面：
firefox/release/*

問題1. responsive   https://developers.google.com/web/fundamentals/layouts/rwd-fundamentals/
問題2. 可觸控的元素距離太近   https://developers.google.com/speed/docs/insights/SizeTapTargetsAppropriately
問題3. 字體太小  https://developers.google.com/speed/docs/insights/UseLegibleFontSizes

![2015-03-12 12 20 54](https://cloud.githubusercontent.com/asse

[2015-03-12 04:28] irvin opened #165 "Mobilized for /contribute"
Google 將開始調整非 touch friendly 頁面的排序，因此我們需要調整以下版面：
firefox/release/*

問題1. 字體太小  https://developers.google.com/speed/docs/insights/UseLegibleFontSizes

![2015-03-12 12 27 55](https://cloud.githubusercontent.com/assets/165936/6612220/403a277e-c8b3-11e4-89e3-91f6cd148aef.png)

[2015-03-12 04:30] irvin opened #166 "Mobilized /about"
Google 將開始調整非 touch friendly 頁面的排序，因此我們需要調整以下版面：
/about

問題1. responsive   https://developers.google.com/web/fundamentals/layouts/rwd-fundamentals/

![2015-03-12 12 20 54](https://cloud.githubusercontent.com/assets/165936/6612235/988fa58e-c8b3-11e4-8834-0ef28ef49a03.png)

[2015-03-12 07:29] irvin opened #167 "Mobile Usability meta bug"
https://www.google.com/webmasters/tools/mobile-usability?siteUrl=http://moztw.org/
Google 的 Webmaster 完整行動裝置相容報表在上，當其他 milestone 都完成才關閉這個 bug。

[2015-03-12 07:37] petercpg opened #168 "HTML5ize embedded contents"
Reduce Flash contents as much as possible.

Depends on #167.

[2015-03-12 08:42] petercpg commented on #168
兩張投影片搞定了，Flickr 貌似已經拿掉 Flash-based 的 slideshow，好像也沒有 HTML5 又可以同時看 group + tag 的 Flickr slideshow app？

另外 Picasa Web Album 已經死掉了，繼任的 G+ Albums 上也找不到 sfd2013+moztw 的相片，建議可拿掉

[2015-03-12 14:01] wi1d5ky commented on #163
唉呀XD 記得這是我補上去的部份:P
這個的英文要去哪裡補呢？

[2015-03-12 14:24] petercpg commented on #163
HTML 裡面要對 element 加上 data-l10n 這個 property，然後到 /foxmosa/languages/en-US.json 裡面加上譯文即可

[2015-03-12 14:44] wi1d5ky commented on #163
Do you wanna see more Foxmosa?
標題寫這樣會怪怪的嗎XD

[2015-03-12 14:58] petercpg commented on #163
我會翻成 Wanna see Foxmosa in other places?

[2015-03-12 15:27] wi1d5ky commented on #107
剛發現一個問題，小莎在說話的時候如果抓的字太多就會 <del>overflow</del> 滿到下面去

![2015-03-12 23 25 13](https://cloud.githubusercontent.com/assets/6042803/6621040/36236b18-c90f-11e4-83b4-d26e39275acf.png)
![2015-03-12 23 27 26](https://cloud.githubusercontent.com/assets/6042803/6621078/5ffc34a6-c90f-11e4-9ffb-77fe36853c91.png)

[2015-03-12 15:45] irvin commented on #107
直接讓他可以變成多行吧，反正手機版也會遇到
wildsky <notifications@github.com>於 2015年3月12日 週四，下午11:28寫道：

[2015-03-13 07:36] irvin opened #172 "新版首頁小莎在說話的時候，如果字太多就會 overflow 滿到下面去"
@wi1d5ky 回報： https://github.com/moztw/www.moztw.org/issues/107#issuecomment-78502853

![36236b18-c90f-11e4-83b4-d26e39275acf](https://cloud.githubusercontent.com/assets/165936/6634669/9fd02e0c-c996-11e4-9094-25941ae8c8dc.png)

「小莎說」的高度應該動態調整，因為手機版上也會遇到一行字數變少的問題

[2015-03-15 06:19] irvin opened #173 "Mobilized /thunderbird/release/*"
Google 將開始調整非 touch friendly 頁面的排序，因此我們需要調整以下版面：
thunderbird/release/*

問題1. responsive https://developers.google.com/web/fundamentals/layouts/rwd-fundamentals/
問題2. 可觸控的元素距離太近 https://developers.google.com/speed/docs/insights/SizeTapTargetsAppropriately
問題3. 字體太小 https://developers.google.com/speed/docs/insights/UseLegibleFontSizes

[2015-03-15 06:32] wi1d5ky commented on #161
這個 issue 可以 close 了～

[2015-03-15 06:35] medicalwei opened #174 "Apply responsive cavendish header to the other pages"
Currently not all cavendish headers are responsive like the home page.
We need to apply responsive design headers to the other pages in order to achieve RWD.

[2015-03-15 06:38] irvin opened #175 "Sandstone template for further /firefox/release/ page"
製作 /firefox/release 的 sandstone 版型供未來的 /firefox/release 使用

[2015-03-15 06:42] #161 closed

[2015-03-15 06:59] ettoolong opened #176 "thunderbird 頁面缺少ogtag"

[2015-03-15 07:01] irvin commented on #161
Eric, 弄好了

On Sun, Mar 15, 2015 at 2:42 PM, Peter Chen <notifications@github.com>
wrote:

--
@ irvinfly: community liaison
moztw.org Mozilla Taiwan community

[2015-03-15 07:17] medicalwei opened #178 "Home page width is not optimal on devices width larger than 500px but smaller than 1024px"
It seems that we used initial-scale to 1 in viewport meta tag. Maybe we need to revert the change.

[2015-03-15 07:18] #174 closed

[2015-03-15 07:22] irvin opened #179 "Sandstone template for further /thunderbird/release/ page"
製作 /thunderbird/release 的 sandstone 版型供未來的 /thunderbird/release 使用

[2015-03-15 08:31] wi1d5ky commented on #163
這個 issue 也可以 close 囉～

[2015-03-15 08:46] #163 closed

[2015-03-15 11:29] #166 closed

[2015-03-15 11:29] #175 closed

[2015-03-15 11:29] #179 closed

[2015-03-15 11:37] #146 closed

[2015-03-15 11:38] #134 closed

[2015-03-15 11:38] #89 closed

[2015-03-15 11:39] irvin commented on #150
想想還是不管了，不然還要維護兩套下載連結

[2015-03-15 11:39] #150 closed

[2015-03-15 11:41] irvin commented on #91
done, thanks to @wi1d5ky

[2015-03-15 11:41] #91 closed

[2015-03-15 12:11] irvin opened #186 "把 Firefox 的下載連結獨立成 ssi var 設定檔以便 /inc/dlff /inc/dlff-new 同時嵌入"
Firefox 的下載連結目前散落於 /inc/dlff.html /inc/dlff-new.html  /firefox/download/downloadurl.txt 三個檔案中，可參考 /inc/dltb2.shtml 的定義法、及 /thunderbird/inc/hero.shtml 的嵌入語法，把下載連結統一到一個定義檔中，以便未來更新

[2015-03-15 12:11] irvin commented on #186
cc @bootleq

[2015-03-15 12:27] irvin commented on #168
一些舊的活動頁，如果沒得更新就可以放著不用管了（也不用拿掉了啦）

[2015-03-15 14:46] petercpg commented on #168
跟 #156 的邏輯類似，只是要再找有什麼 Flickr app 能拉出我們要的圖就是。

[2015-03-15 14:56] petercpg opened #187 "Download box not displayed on iOS"
![Screenshot](http://i.imgur.com/6NkSqHf.png)

[2015-03-16 08:30] mingtsay opened #188 "CSS support for IE 6, 7 on /firefox"
Using float with list will cause this situation.
It is fine for just put the ie9.js onto the page with these tags:
``

Screenshots:
![IE 6 on Windows XP](https://cloud.githubusercontent.com/assets/760655/6662642/c2978cbe-cbf8-11e4-9f96-ad229707f007.png)
IE 6 on Windows XP

![IE 7 simulated with IE 9 on Windows Server 2008 R2](https://cloud.githubusercontent.com/assets/760655/6662645/c938bec6-cbf8-

[2015-03-17 02:31] irvin opened #189 "網站沒有正確 Sitemap"
不知道以前是如何產生 sitemap 的，看來最後一次更新是 2013 年，然後就消失了
![2015-03-17 10 29 49](https://cloud.githubusercontent.com/assets/165936/6680327/a668774a-cc90-11e4-90a1-78a1516059dc.png)

[2015-03-17 02:31] irvin commented on #189
@petercpg @timdream 你們知道該怎麼處理嗎？

[2015-03-17 02:41] wi1d5ky commented on #189
是這個嗎？
https://www.xml-sitemaps.com/

[2015-03-17 02:47] irvin commented on #189
理論上在 deploy 的時候應該要有機制自動生，不用透過第三方服務

2015-03-17 10:41 GMT+08:00 wildsky <notifications@github.com>:

--
@ irvinfly: community liaison
moztw.org Mozilla Taiwan community

[2015-03-17 03:33] petercpg commented on #189
Deploy 應該從來都沒有自動產生過，要這麼做的話看有沒有人要寫囉。

[2015-03-17 03:35] irvin commented on #189
那過去是怎麼來的＠___＠

On Tue, Mar 17, 2015 at 11:33 AM Peter Chen <notifications@github.com>
wrote:

[2015-03-17 03:37] bobchao commented on #189
好像是人工製造吧

On 17 March 2015 at 11:35, Irvin <notifications@github.com> wrote:

--
Po-chiang Chao  (:BobChao)
Mozillian and Creative Commoner, Taiwan
http://twitter.com/bobchao <http://blog.bobchao.net/>

[2015-03-18 12:04] irvin opened #193 "sandstone release notes 格式改善"
1. 右方選單「其他資源連結」可去除
2. 「Firefox 新鮮事」、「已知問題」需要與下方加高段距
3. 「下載與安裝」、「疑難排解」大區塊的內文需要加高行距

[2015-03-18 12:17] irvin opened #194 "/thunderbird/releases 選單順序調整"
右側選單順序需要調整成：

    < 回 Thunderbird 首頁
    已知問題
    下載與安裝

[2015-03-18 12:21] irvin commented on #173
confirm fixed on https://github.com/moztw/www.moztw.org/pull/190

[2015-03-18 12:23] #173 closed

[2015-03-18 12:24] irvin commented on #164
confirm fixed on https://github.com/moztw/www.moztw.org/pull/190

[2015-03-18 12:24] #164 closed

[2015-03-18 12:25] irvin commented on #56
confirm fixed on https://github.com/moztw/www.moztw.org/pull/190
現在會與 /Firefox 共用上方下載區塊

[2015-03-18 12:25] #56 closed

[2015-03-18 12:25] irvin commented on #55
confirm fixed on #190
現在會與 /Thunderbird 共用上方下載區塊

[2015-03-18 12:25] #55 closed

[2015-03-18 12:51] irvin opened #195 "執行 grunt 時會有錯誤訊息"
[code]
ERROR 訊息會重複許多次，但是功能一切正常

[2015-03-18 12:52] irvin commented on #195
@kidwm 幫忙解一下？

[2015-03-18 17:34] irvin opened #196 "/thunderbird/releases/13.0.1/ 標題圖示大小有問題"
http://moztw.org/thunderbird/releases/14.0/ 即是正常狀態

[2015-03-18 17:40] irvin opened #197 "下載總頁上方的圖示位置需調整"
http://moztw.org/dl/ 上方的圖示位置大小不太協調，軟體名稱與下方的介紹 Slogan 也離得太遠。
![2015-03-19 01 38 59](https://cloud.githubusercontent.com/assets/165936/6715339/d65e0836-cdd8-11e4-88b1-8f3be8e328fd.png)

[2015-03-19 01:00] petercpg opened #198 "合併 self-hosted js libraries"
repo 裡某些活動或專案網頁都有自己放一份 library，可以統一合併到 /js/library。

隨便列舉一個 jquery 跟相關 plugin
petercpg@v3:~/moztw-repo/moztw_web/www.moztw.org$ find ./ -name jq*
./twoffice/jquery-1.6.4.min.js
./twoffice/fancybox/jquery.fancybox-1.3.4.js
./twoffice/fancybox/jquery.fancybox-1.3.4.pack.js
./twoffice/fancybox/jquery.mousewheel-3.0.4.pack.js
./twoffice/fancybox/jquery.fancybox-1.3.4.css
./twoffice/fancybox/jquery.eas

[2015-03-19 01:03] #196 closed

[2015-03-19 01:26] appleboy commented on #198
:+1:

[2015-03-19 02:11] mingtsay commented on #198
let me do this

On 2015年3月19日週四 9:26 Bo-Yi Wu <notifications@github.com> wrote:

[2015-03-19 02:14] petercpg commented on #198
可能還有其他的 lib 有重複唷，這些資料夾裡的 jquery 說不定用同一個版本也都能動，如果可以的話測一下會更好。

[2015-03-19 02:25] kidwm commented on #195
https://github.com/gruntjs/grunt-contrib-watch/issues/75

[2015-03-19 02:55] kidwm commented on #198
有個 assets repo 就是要作這件事的啊

[2015-03-19 03:14] petercpg commented on #198
要移去 assets 也行，總之不要各頁塞一個我想比較好

從我的 iPod 傳送

[2015-03-19 05:19] kidwm commented on #195
三個選項：

1. 別管它或是不用 Mac
2. 把 community-dev 跟 firefox-new 移到 branch
3. 拆分 repo

[2015-03-19 06:55] irvin commented on #195
/firefox-new 砍掉後（週六已經移去 /firefox），目前正常了

[2015-03-19 06:55] #195 closed

[2015-03-19 07:17] mingtsay commented on #198
所以有 assets ，也有 lib 的意思？
好哦我把所有 code 先 review 一次，
希望能確保不同版本的 jQuery 看看能不能換同一個，
不能換的就先不動它然後一樣列這個 issue 裡面之後修

On 2015年3月19日週四 11:14 Peter Chen <notifications@github.com> wrote:

[2015-03-20 03:22] wi1d5ky commented on #151
在想要不要寫到 wiki 裡面，然後 readme 給連結就好
https://github.com/moztw/www.moztw.org/wiki

[2015-03-20 04:27] irvin commented on #151
寫在 README.md 內比較適合。
寫在 Github wiki 上，天知道那時又會遇到 Google Code 關門大吉，又需要轉移平台上 wiki 文件的事情…

[2015-03-20 04:28] appleboy commented on #151
寫在 Readme 也比較方便看 ＸＤ

[2015-03-20 04:28] irvin commented on #198
不要分 Repo，先從 jQuery 開始就好。

[2015-03-21 04:16] ddtet commented on #194
請讓我試看看這個。熟悉 git 送交程式的流程

[2015-03-21 04:48] petercpg commented on #194
@ddtet 請做，Pull request 請發到 master branch。

[2015-03-21 07:30] #194 closed

[2015-03-21 08:51] irvin commented on #194
http://moztw.org/thunderbird/releases/
ok 了，感謝

[2015-03-21 10:58] ddtet opened #202 "/thunderbird/releases/ 立即下載連結下，仍有「版本資訊」的連結"
一來是在版本資訊的頁面裡有「自己」的連結有點怪，二來是這個連結指向「releases/」，導致會連到「/thunderbird/releases/releases/」這個不存在的路徑。

也許應該拿掉這個連結，或是將它路徑改成「#」(連到自己)，不確定哪一種作法比較好。

[2015-03-21 18:17] petercpg commented on #202
這一塊是 ssi include 進來的嗎？如果是這樣可能只能把網址連結修成 /thunderbird/releases。

Firefox 那一頁目前沒有問題，href 指到 /firefox/releases。

[2015-03-21 18:26] petercpg opened #203 "/firefox/releases 選單順序調整"
右側選單順序需要調整成：
* < 回到 Firefox 首頁
* 下載安裝
* 已知問題
* 疑難排解
* 常見問題集
* 非官方建製版

選單移除：
* 其他資源連結

作法與 #194 類似。

[2015-03-21 19:30] petercpg opened #204 "Arphic Webfont clean-up"
我們與文鼎的合約已經過期，Webfont 服務壞了，發信也沒有人回覆，目前暫時已經把首頁的 Webfont 文字換成圖片。

雖然不影響網站使用但目前還是會載入 Webfont 主機上的無效 JS snippet，我們可以把這些 snippet 移除、網站 Footer 的「本網站採用 Arphic 文鼎科技 WebFont 字型及技術服務」移除，可以稍微調整一下 /about 的文字感謝文鼎曾經提供的支援。

[2015-03-21 19:31] petercpg commented on #172
text-overflow: ellipsis 不好嗎？

[2015-03-22 14:51] irvin commented on #172
沒什麼好處，還要讓別人點過去，還是直接換行顯示完整訊息好

Peter Chen <notifications@github.com> 於 2015年3月22日 星期日寫道：

--
@ irvinfly: community liaison
moztw.org Mozilla Taiwan community

[2015-03-23 04:16] irvin opened #207 "/firefox/releases/ 頁面加上 OG 資訊"
參考 Mozilla 的 Release Notes 頁面的格式

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="MozTW">
    <meta property="og:locale" content="zh_TW">
    <meta property="og:url" content="http://moztw.org/firefox/releases/">
    <meta property="og:image" content="https://moztw.org/images/product-firefox-v4-180.png">
    <meta property="og:title" content="Mozilla Firef

[2015-03-23 04:20] irvin opened #208 "/thunderbird/releases 加上 OG 資訊"
參考 Mozilla 的 Release Notes 頁面的格式

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="MozTW">
    <meta property="og:locale" content="zh_TW">
    <meta property="og:url" content="http://moztw.org/thunderbird/releases/">
    <meta property="og:image" content="https://moztw.org/images/product-thunderbird-v3.png">
    <meta property="og:title" content="Mozilla T

[2015-03-23 08:30] wi1d5ky commented on #208
我有空的時候來弄好了

[2015-03-23 08:33] wi1d5ky commented on #208
確認一下，是要加在/releases/就好，還是release/*都要呢？

[2015-03-23 08:44] petercpg commented on #208
都作吧？可以改成 shtml，直接 include 大部分類似的內容。

[2015-03-23 08:53] #204 closed

[2015-03-23 08:54] wi1d5ky commented on #208
shtnl 有方法可以抓該頁的特定資訊(像是 front matter 那樣的感覺)嗎?
還是大部分類似的 include ，剩下的一頁一頁補上去?

[2015-03-23 09:27] irvin commented on #208
我早一點有在測要抓本頁網址，沒辦法正確。
這邊有 SSI 可以 include 的參數：
http://httpd.apache.org/docs/current/mod/mod_include.html
類似的用 include 包成一個 shtml，每頁不同的資訊（例如 og:url ）就另外補吧

wildsky <notifications@github.com> 於 2015年3月23日 下午4:54 寫道：

--
@ irvinfly: community liaison
moztw.org Mozilla Taiwan community

[2015-03-23 09:30] petercpg commented on #208
沒有辦法 parse 頁面內容，但可以使用 #set var 和/或 #echo var 來寫某些會變動的資料，這樣以後版本變動要改的地方就比較少。

可參考 /inc/dltb2.shtml 這個檔案。

[2015-03-23 09:52] irvin commented on #208
主要是版號吧…不過那我想另外獨立一個 issue 連下載網址一起做。

Peter Chen <notifications@github.com> 於 2015年3月23日 下午5:30 寫道：

--
@ irvinfly: community liaison
moztw.org Mozilla Taiwan community

[2015-03-23 10:02] petercpg opened #209 "Remove <hgroup> from layouts"
<hgroup> was deprecated, use <div class="hgroup"> instead of <hgroup>

[2015-03-23 10:46] #209 closed

[2015-03-26 15:35] wi1d5ky commented on #202
@petercpg 這個可以 close 囉

[2015-03-26 16:49] #208 closed

[2015-03-26 19:24] #202 closed

[2015-03-26 19:25] petercpg commented on #202
沒錯，這樣修應該就 OK 了，感謝各位。

[2015-03-26 20:18] petercpg commented on #189
如果要用 grunt 產生要注意設定一些黑名單，例如 /node_modules，還有一些我們不想讓別人看到的網頁，例如 /inc 與 /*-dev

可參考 pr #218。

[2015-03-27 01:53] wi1d5ky commented on #189
好，我有空時加上去

On 2015年3月27日週五 4:18 Peter Chen <notifications@github.com> wrote:

[2015-03-27 02:55] wi1d5ky commented on #203
+ 回到 Firefox 首頁
+ 下載安裝
+ 已知問題
+ 疑難排解
+ 常見問題
+ 非官方建製版
+ 其他資源連結

現在的順序是這樣，好像只要把 `其他資源連結` 移掉就好？

[2015-03-27 05:16] petercpg commented on #203
還有那個「<」 XD

基本上就是比照 #194 處理

[2015-03-27 05:30] wi1d5ky commented on #203
了解XD 我等等來弄

On 2015年3月27日週五 13:16 Peter Chen <notifications@github.com> wrote:

[2015-03-27 05:35] petercpg commented on #203
不放給新手弄嗎？

[2015-03-27 05:38] wi1d5ky commented on #203
原來我不算新手了XDDD

好，還是留給其他人弄好了
剛只是想說看到能解的 issue 就先解
不過讓其他人練練 git 好了~

[2015-03-27 06:47] petercpg commented on #189
幾個問題拉回來這邊討論：
* #219 更新規則後執行 grunt sitemap，`/docs` 與某些 `/events` 底下的網頁還是不會被加入 sitemap、`/node_modules` 與 `/community-dev`、`/firefox/tw-dev` 又還是會被加進來
* Grunt 產生 sitemap 的時候 `<lastmod>` 會統一使用執行的時間，而且沒有更動的網頁的時間也會被更新，這個行為有問題。
* 我們絕大部分網頁的 `<changefreq>` 都不是 daily。

[2015-03-27 06:49] wi1d5ky commented on #189
我一個一個解解看這些問題

[2015-03-27 06:55] petercpg commented on #189
1. 我其實看不大懂那個規則，看了 minimatch 也是 orz
3. 不算是吧，有些東西甚至 commit 出去之後就沒再（也不需要）更新了，sitemaps 檔案格式可參考: http://www.sitemaps.org/zh_TW/protocol.html

[2015-03-27 07:00] wi1d5ky commented on #189
1. 我來改改看
2. 這個我在想是不是因為 ssi 會全部重新製造一份蓋過原本的，grunt-sitemap 直接抓 html ，以為他被改過了導致`<lastmod>`變成上一次執行`grunt`的時間 @@

[2015-03-28 16:57] petercpg commented on #189
我發現有一些網頁，像 `/events/code-rush/`、`/firefox/releases/` 還是會被排除掉、`/inc` 裡面的東西還是會被加回來... 其他的可以暫時擱著不管但這個不大行...

`<changefreq>` 我先大概抓個保守的 monthly。

[2015-03-28 18:06] wi1d5ky commented on #189
@petercpg
抱歉，我不小心打錯造成 `inc` 排除失敗，剛剛 [PR](https://github.com/moztw/www.moztw.org/pull/221) 了已經修正錯誤，也把 `sanstone` 的排除併入同一行，看起來比較不囉唆

此外，我順便把 `grunt.registerTask('map', ['sitemap']);` 刪掉了，這行是多餘的

沒有被納入 sitemap 的是因為他們資料夾裡面沒有 `.html` 檔。
換句話說，先執行一次 `grunt` 後，再執行 `grunt sitemap` 就沒有這個問題了

[2015-03-28 18:56] petercpg commented on #189
@wi1d5ky Great! 我這看起來也 OK 了。剩下就是看要怎麼讓 sitemap 自動產生。
手動 commit 可能會忘而且 sitemap 應該不需要放進 VCS... 我想也許可以放在 base repo 的 `autoupdate/update.sh` 裡面，配合 `git-received.php` 在 auto update 的時候執行？

[2015-03-28 19:17] wi1d5ky commented on #189
我剛剛也在想一樣的問題，不過我剛剛的想法是當有人下 ˋgit pushˋ 時，順便執行 ˋ grunt sitemap ˋ。不過經你這麼一說，我也覺得不應該放進 VCS。

可是你後面我看不太懂XD 在沒有去深入了解的情況下沒辦法給什麼意見... 聽起來感覺是在主機那邊的自動化？如果可以自動化產生 sitemap 又不會擾亂版本控制的話就太好了！（我有空時再研究一下那個 repo）

還有一些地方要處理，來統整一下：
1. 整個網站的更新程度不可能都一樣
2. 權重都是 0.5 感覺會影響 SEO
3. 更新時間不應該等於執行 grunt 的時間

這三個還沒想到解法，可能要放到之後或是請其他人來解，現在就先弄 sitemap 自動化就好~

[2015-03-28 19:19] wi1d5ky commented on #189
(手機鍵盤果然沒辦法打那個符號… 對 markdown 的小無奈…

[2015-03-29 01:34] mingtsay commented on #189
其實 Peter 後面說的「我想也許可以放在 base repo 的
`autoupdate/update.sh` 裡面，配合 `git-received.php` 在 `auto update`
的時候執行？」就是跟你說的「當有人下 `git push` 時，順便執行 `grunt sitemap`」是同一回事哦！

On 2015年3月29日週日 3:19 wildsky <notifications@github.com> wrote:

[2015-03-29 08:32] irvin commented on #189
@wi1d5ky 總之，你可以繼續調整 grunt sitemap 的設定。
只要可以產生正確的 sitemap，我們可以設定主機在更新時，自動在更新後跑 grunt sitemap，不需要 commit 的人在本地端做。

[2015-03-29 11:43] wi1d5ky commented on #189
@mingtsay 嗯嗯～ 我有空再去研究研究 mozTW/base
@irvin 了解，現在看來大致上是 OK，有什麼問題再跟我說一聲我來補或是直接在 pattern 作修正就好

[2015-04-02 05:23] irvin commented on #207
目前 fb 會自動抓取的 OG 資訊：
![2015-04-02 13 20 28](https://cloud.githubusercontent.com/assets/165936/6958187/0ddc3478-d93b-11e4-8bc7-8076fe98af88.png)

需要
* 補上 og:image 資料，指向 Firefox 圖示
* og:description 需要修改成：
      Firefox 版本資訊 [2015 年 4 月 1 日 v37.0]。此版本資訊包含了 Firefox 新鮮事、下載安裝指示、以及常見問題等訊息。我們想知道您對 Firefox 的想法，歡迎到 MozTW 的 Firefox 中文討論區與我們分享意見。
[]內需要根據版本變動。

[2015-04-04 09:41] irvin commented on #187
iOS 上本來就不要出現下載框，有 iOS 版之後才要

[2015-04-04 10:00] irvin opened #225 "/news/ 新聞頁面需要有清楚的年份標示"
現在的新聞頁面看不出來條目的年份
![2015-04-04 17 59 41](https://cloud.githubusercontent.com/assets/165936/6992229/6628587c-daf4-11e4-8520-fceac4cbf8a3.png)

[2015-04-04 13:59] petercpg commented on #187
系統語系、最新功能、隱私政策這三個連結可以用更好的方式展示，不然看起來就像是什麼東西壞掉了...

[2015-04-06 07:39] petercpg commented on #189
挖到以前的做法了，每週一早上 0 點會執行 /usr/bin/google-sitemapgen --config=/home/moztw/htdocs/sitemapgen_config.xml。

這個檔案不在 vcs 裡面有點棘手....。

[2015-04-06 10:28] irvin commented on #189
就不用管以前的作法，改到機器上跑 grunt sitemap 啦？

Peter Chen <notifications@github.com> 於 2015年4月6日 星期一寫道：

--
@ irvinfly: community liaison
moztw.org Mozilla Taiwan community

[2015-04-06 10:30] mingtsay commented on #189
那要記得停用以前的 sitemap 機制，怕蓋掉新產生的檔案？

On 2015年4月6日週一 18:28 Irvin <notifications@github.com> wrote:

[2015-04-06 10:30] petercpg commented on #189
問題在於 grunt 沒辦法針對資料夾表達更新頻率，這個可以，而且看起來這機制也沒啥不好。

[2015-04-06 12:32] mingtsay commented on #132
@irvin 要連同修改過的 installer 一起備份嗎？

[2015-04-06 19:35] mingtsay commented on #132
預覽可直接在 http://issue-132.moztw.demo-mt.tk/firefox/tw/ 觀看，或是 `git checkout issue-132`
- 套件備份在 https://github.com/moztw/www.moztw.org/tree/issue-132/firefox/tw/xpi
- 安裝檔備份在 https://github.com/moztw/www.moztw.org/tree/issue-132/firefox/tw/dl
- 修改了部分的文字敘述（包含還原以前的敘述）

麻煩各位 review 了（commit 8bc7ecdea620806156fb5f228045171b2790a6d6）

[2015-04-06 20:48] mingtsay commented on #198
以下為整理好的各個網頁用到的 library 列表，先記著之後處理比較方便：

# HTML5 Shiv
- [/events/app-dev-party/index.shtml](https://github.com/moztw/www.moztw.org/blob/master/events/app-dev-party/index.shtml)
- [/events/code-rush/index.shtml](https://github.com/moztw/www.moztw.org/blob/master/events/code-rush/index.shtml)
- [/events/icos2013-html5/index.shtml](https://github.com/moztw/www.moztw.org/blob/master/events/icos2013-htm

[2015-04-06 20:57] mingtsay commented on #198
以下為整理好的 repo 內的 library 列表，先記著之後處理比較方便：

# HTML5 Shiv
- [/events/app-dev-party/assets/html5.js](https://github.com/moztw/www.moztw.org/blob/master/events/app-dev-party/assets/html5.js)
- [/events/code-rush/assets/html5.js](https://github.com/moztw/www.moztw.org/blob/master/events/code-rush/assets/html5.js)
- [/events/moztw-lab/assets/html5.js](https://github.com/moztw/www.moztw.org/blob/master/eve

[2015-04-06 20:59] mingtsay commented on #198
also solve #188 with this issue

[2015-04-07 00:24] petercpg commented on #132
binary code 這種呆重就不要丟進 git repo 了吧？比照我們 host Firefox 1.x 安裝檔的方式丟到 var 裡面指過來提供下載就好了？

另外嚴謹一點的話，最好我們還要提供使用者 checksum 看看檔案是不是正確的。

[2015-04-07 00:46] petercpg commented on #132
我丟了一份到主機上：
* http://moztw.org/dls/fx/mocotwver/Firefox-full-latest.exe
* http://moztw.org/dls/fx/mocotwver/Firefox-latest.dmg
* http://moztw.org/dls/fx/mocotwver/Firefox-latest.tar.bz2
* http://moztw.org/dls/fx/mocotwver/Firefox-latest-x86_64.tar.bz2
* http://moztw.org/dls/fx/mocotwver/xpi/addon-1.0.1-fx.xpi
* http://moztw.org/dls/fx/mocotwver/xpi/easyscreenshot-0.2.1.1.xpi
* http://moztw.org/dls/

[2015-04-07 02:12] kidwm commented on #198
@irvin 你不想分 repo 本來就不可能跟進啊 XD

[2015-04-07 02:23] mingtsay commented on #132
我晚點把呆重檔案從 repo 移除，然後改成加上 checksum 在 repo 裡面，謝謝 Peter

On 2015年4月7日週二 8:46 Peter Chen <notifications@github.com> wrote:

[2015-04-07 02:38] irvin commented on #198
@mingtsay 幫忙把 library 各自開 bug （eg. 合併各頁自帶的 jQuery、合併各頁自帶的 leaflet.js ），然後全部設一個 milestone，我們來整理

[2015-04-07 05:39] mingtsay opened #226 "Arrange js library: HTML5 Shiv"
Pages using this library:
- [/events/app-dev-party/index.shtml - Line 15](https://github.com/moztw/www.moztw.org/blob/master/events/app-dev-party/index.shtml#L15)
- [/events/code-rush/index.shtml - Line 16](https://github.com/moztw/www.moztw.org/blob/master/events/code-rush/index.shtml#L16)
- [/events/icos2013-html5/index.shtml - Line 15](https://github.com/moztw/www.moztw.org/blob/master/events/i

[2015-04-07 05:42] mingtsay opened #227 "Arrange js library: IE9.js"
Pages using this library:
- [/events/app-dev-party/index.shtml - Line 18](https://github.com/moztw/www.moztw.org/blob/master/events/app-dev-party/index.shtml#L18)
- [/events/code-rush/index.shtml - Line 19](https://github.com/moztw/www.moztw.org/blob/master/events/code-rush/index.shtml#L19)
- [/events/index.shtml - Line 16](https://github.com/moztw/www.moztw.org/blob/master/events/index.shtml#L16)

[2015-04-07 05:44] mingtsay commented on #227
also solve #188 with this issue

[2015-04-07 05:48] mingtsay opened #228 "Arrange js library: leaflet.js"
Pages using this library:
- [/events/app-dev-party/index.shtml - Line 77](https://github.com/moztw/www.moztw.org/blob/master/events/app-dev-party/index.shtml#L77)
- [/events/code-rush/index.shtml - Line 113](https://github.com/moztw/www.moztw.org/blob/master/events/code-rush/index.shtml#L113)
- [/events/icos2013-html5/index.shtml - Line 246](https://github.com/moztw/www.moztw.org/blob/master/event

[2015-04-07 06:00] mingtsay opened #229 "Arrange js library: jQuery"
Pages using this library:

v1.3.2
- [/contribute/index.shtml - Line 145](https://github.com/moztw/www.moztw.org/blob/master/contribute/index.shtml#L145)
- [/events/ie8/index.shtml - Line 219](https://github.com/moztw/www.moztw.org/blob/master/events/ie8/index.shtml#L219)
- [/events/jetpack-workshop/index.shtml - Line 114](https://github.com/moztw/www.moztw.org/blob/master/events/jetpack-workshop/i

[2015-04-07 06:04] mingtsay opened #230 "Arrange js library: jQuery UI"
Pages using this library:
- [/contribute/index.shtml - Line 146](https://github.com/moztw/www.moztw.org/blob/master/contribute/index.shtml#L146)

--

Library in the repository:
- [/contribute/js/jquery-ui-1.7.3.custom.min.js](https://github.com/moztw/www.moztw.org/blob/master/contribute/js/jquery-ui-1.7.3.custom.min.js)

[2015-04-07 06:06] mingtsay opened #231 "Arrange js library: jQuery WordCloud"
Pages using this library:
- [/events/firefox4party/index.shtml - Line 134](https://github.com/moztw/www.moztw.org/blob/master/events/firefox4party/index.shtml#L134)
- [/events/firefox4party/landing/index.shtml - Line 84](https://github.com/moztw/www.moztw.org/blob/master/events/firefox4party/landing/index.shtml#L84)

--

Library in the repository:
- [/events/firefox4party/jquery.wordcloud.min.js](

[2015-04-07 06:12] mingtsay opened #232 "Arrange js library: jQuery FancyBox & FancyBox2"
Pages using this library:

v1.3.4
- [/twoffice/index.shtml - Line 4](https://github.com/moztw/www.moztw.org/blob/master/twoffice/index.shtml#L4)

v2.0.5
- [/firefox/tw/index.shtml - Line 421](https://github.com/moztw/www.moztw.org/blob/master/firefox/tw/index.shtml#L421)
- [/foxmosa/index.shtml - Line 15](https://github.com/moztw/www.moztw.org/blob/master/foxmosa/index.shtml#L15)
- [/mobile/index.

[2015-04-07 06:14] mingtsay commented on #198
issue opened: #226, #227, #228, #229, #230, #231, #232

[2015-04-08 15:03] petercpg commented on #132
https://github.com/moztw/www.moztw.org/commit/8bc7ecdea620806156fb5f228045171b2790a6d6 這個 commit 記得拆掉重推，剛剛 git pull 卡了好久...orz

[2015-04-08 19:48] mingtsay commented on #132
已用 `git rebase -i HEAD~2` 與 `git push origin +issue132` 把 8bc7ecd 移除了，抱歉造成困擾

On 2015年4月8日週三 23:03 Peter Chen <notifications@github.com> wrote:

[2015-04-09 05:00] irvin commented on #132
這個 commit 直接推進 www.moztw.org 的 repo，沒有用 PR 的方式，所以直接已經進到 git tree 沒救了。
只有用某些奇技淫巧把整個 tree 重寫，才能把 commit 過的檔案佔用的空間清除。

我剛剛整理了一下群組跟權限，今後除了更新 Release 等常態事項外，大家都改用發 PR 的方式吧來 patch 吧，至少能在 PR 階段把一些問題在 Repo 之外先擋掉。

[2015-04-09 05:20] petercpg commented on #132
有問題的東西只在 issue-132 這個 branch，從 master checkout 一個新的 branch，然後把要的變更移植過來，再把
issue-132 branch 砍掉之後再清掉 reflog 就沒問題了吧？

[2015-04-09 05:23] irvin commented on #132
做做看？沒有進 master 我沒處理過，好像跟下面步驟有點出入
https://help.github.com/articles/remove-sensitive-data/

Peter Chen <notifications@github.com> 於 2015年4月9日 下午1:20 寫道：

--
@ irvinfly: community liaison
moztw.org Mozilla Taiwan community

[2015-04-09 05:46] mingtsay commented on #132
照理是應該可以先輸出 diff 然後把整個 `issue-132` 摘掉

[2015-04-09 06:55] petercpg commented on #132
搞定，後續請在 issue-132-new branch 繼續作業。

[2015-04-09 07:00] irvin commented on #132
現在小喵不能直接推 www.moztw.org 了，建議直接重新拉回去個人 repo，改好直接對 master 送 PR 吧

[2015-04-09 07:17] petercpg commented on #132
已經 merge 回 master 了，目前看起來沒啥問題。

另外別忘記還有 #131 。

[2015-04-10 13:28] petercpg opened #235 "為所有 Sandstone 風格頁面重新檢查 font family"
目前 Sandstone 風格頁面的 <p> 有指定 "Open Sans","Helvetica","Heiti TC","LiHei Pro","微軟正黑體","WenQuanYi - Micro Hei","Arial",sans-serif;，但 <h*> 只有 "Open Sans Light",sans-serif;，所以在 Windows 上只有醜醜的新細明體。

我們應該重新檢查頁面樣式，然後重新指定字體 fallback 順序

[2015-04-13 06:09] petercpg opened #237 "Add acknowledgement to footer and /about for new hosting service provider"
Per original request mail:
<pre>
As this is a free service for Open Source/Culture/Music without asking almost nothing in return,
We will be encouraged if you can list as on your project site, or mention us on your news/blog/article.
And if it's ok for you, please let us know!

We are:
* BlueT - Matthew Lien - 練喆明 <BlueT@BlueT.org>
* Ubuntu Taiwan LoCo Team <http://Ubuntu-TW.org> (Chinese: Ubuntu

[2015-04-13 06:16] irvin commented on #237
@BlutT 你的名號或 Ubuntu-TW 留一個怎麼樣，這樣感覺有點長，
or "Powered by BlueT (Ubuntu TW) & NCNUCC"

[2015-04-14 07:15] irvin opened #238 "使用 DuckDuckGo 取代目前的 Google 站內搜索"
為了隱私！
參考資料： https://duckduckgo.com/search_box

[2015-04-18 17:55] petercpg commented on #27
API v2: https://mozillians.readthedocs.org/en/latest/api/apiv2/index.html

看起來 API 又跳了一版...

[2015-04-21 17:22] petercpg opened #240 "amara.org subtitle scripts break in https site"
Mixed Content: The page at 'https://www-stage.moztw.org/events/service2013q4/' was loaded over HTTPS, but requested an insecure script 'http://s3.amazonaws.com/s3.www.universalsubtitles.org/embed.js'. This request has been blocked; the content must be served over HTTPS.

會踩到混和內容的地雷啊...

[2015-04-24 19:10] petercpg opened #246 "Firefox Release Note 頁面沒有正確的 Open Graph 內容"
Facebook 自己判斷的結果會變成這樣，應該修正:
og:description
Firefox 版本資訊 2015 年 4 月 22 日 v37.0.2 此版本資訊包含了 Firefox 新鮮事、下載安裝指示、以及常見問題等訊息。 我們想知道您對 Firefox 的想法。歡迎到 MozillaZine 上的英文討論區或 MozTW 的 Firefox 中文討論區與我們分享意見。 Firefox 免費下載 正體中文 (繁體) Windows Firefox 免費下載 正體中文 (繁體) Linux Firefox 免費下載 正體中文 (繁體) Mac OS X Firefox 免費下載 正體中文 (繁體) Android 系統語系 | 最新功能 | 隱私政策

[2015-04-26 10:38] BlueT commented on #237
Sorry for replying so late. 因為目前計畫沒有正式網站，先用
"Powered by [Ubuntu-TW](http://ubuntu-tw.org) / [BlueT](http://bluet.org) and [NCNU-CC](http://www.cc.ncnu.edu.tw)"
這個，
待計畫正式網站有了後，再換成計畫名稱，
這樣方便嗎？

另外如果方便的話，不知是否方便在 /about 中的這部份資訊下面加上聯絡訊息，讓其他需要 hosting 服務的人也能聯絡我 (BlueT@BlueT.org)？感謝！

[2015-04-26 10:40] BlueT commented on #237
話說， MozTW 有興趣一起參與這個計畫嗎？ :-p

[2015-04-26 16:45] irvin commented on #237
@BlueT /about 的 hosting 訊息要怎麼寫，你要不要寫簡單寫一段來說明？

[2015-04-27 08:37] petercpg commented on #237
Commit pushed as above, @BlueT 請看看 http://www-stage.moztw.org/about/ 這樣有沒有問題，沒有問題的話就可以 deploy production 了。

參與計畫的問題我想我們可以拉回 mailing list 討論 :)

[2015-04-27 12:20] petercpg opened #248 "Separate acknowledge into a standalone section block"
Per requested by @irvin.

[2015-04-27 12:58] #248 closed

[2015-04-29 18:56] petercpg commented on #238
DDG 只有提供 search box，沒有現在 Google CSE 的搜尋方式，這個改下去也會影響到討論區的站內搜尋喔。

[2015-04-29 19:23] petercpg commented on #151
https://github.com/moztw/www.moztw.org/commit/5a668f80f9a9bca12fa7118a744c04df756bad87 裡面新增了 commit 跟 PR 的流程，沒問題的話這張票能關了？

[2015-05-02 18:54] petercpg commented on #237
deployed to prod. Closing this issue.

[2015-05-02 18:54] #237 closed

[2015-05-12 10:23] hane1818 commented on #203
不好意思~我第一次來，請問可以讓我試試看嗎?

[2015-05-12 10:34] petercpg commented on #203
@hane1818 那就交給你囉，改完請開 pull request 到 `master` branch，commit message 裡面請包含這個 bug 的編號。

[2015-05-12 11:05] hane1818 commented on #203
已提出 pull request，請確認有無錯誤~謝謝

[2015-05-12 12:30] petercpg commented on #203
@hane1818 沒問題，感謝！

[2015-05-12 12:30] #203 closed

[2015-05-13 00:05] BlueT commented on #237
:+1:

[2015-05-13 10:15] hane1818 commented on #225
請問是要在每個條目前面都加上年份嗎??

[2015-05-13 10:55] irvin commented on #225
應該只要在年與年的交界之間標明就好，比較簡潔明暸

[2015-05-13 11:17] hane1818 commented on #225
![moznews](https://cloud.githubusercontent.com/assets/8386052/7609324/7692820e-f9a4-11e4-8acd-aa32e7b6bbc0.PNG)
那就是像這樣寫嗎?
好像往上是2011
往下是2010??

[2015-05-13 11:22] irvin commented on #225
這樣感覺還是不太清楚，把年份當成小標題，然後每個獨立年份的項目個別包 ul？

[2015-05-13 11:23] irvin commented on #225
越上面的新聞越新沒錯，想想有什麼更好的標示方法

[2015-05-13 12:11] hane1818 commented on #225
![moznews2](https://cloud.githubusercontent.com/assets/8386052/7610034/ff3a4220-f9ab-11e4-8a1a-5508b6d8b9bb.PNG)
如果像這樣直接在 li 前加小標呢?

[2015-05-14 02:40] irvin commented on #225
不錯啊

[2015-05-14 05:08] hane1818 commented on #225
那我就先這樣改囉~~

[2015-05-14 05:22] hane1818 commented on #225
發現裡面還有一些日期順序錯誤，和排版亂掉的問題，我順便修一下~

[2015-05-14 05:29] hane1818 commented on #225
![moznews3](https://cloud.githubusercontent.com/assets/8386052/7626524/28e75ab8-fa3d-11e4-8f9e-a45c5acd5d21.PNG)
關於日期格式的部分，需不需要統一成x 月 x 日?
因為之後的好像都沒打日@@

[2015-05-14 05:31] wi1d5ky commented on #225
應該是只要統一就好，我的話會想把「日」補回來
看其他人怎麼說～

[2015-05-14 05:52] petercpg commented on #225
我其實一直覺得沒有日很奇怪，但看到首頁左下角的樣式猜想可能是以前刻意拿掉的。

就首頁不放，放到 news 歸檔之後補給他一個日吧？

[2015-05-14 06:05] irvin commented on #225
直接用 css:after content 補一個「日」吧
Peter Chen <notifications@github.com>於 2015年5月14日 週四，下午1:53寫道：

[2015-05-14 06:10] hane1818 commented on #225
可是舊的公告有的有、有的沒有，這樣手動加會不會比較好?
最新的部分再用css補上日?

[2015-05-14 06:12] irvin commented on #225
就看要在新的加還是把舊的拿掉，只要統一就好嘍
hane1818 <notifications@github.com>於 2015年5月14日 週四，下午2:10寫道：

[2015-05-14 06:17] hane1818 commented on #225
那把舊的拿掉好了，直接用css加好像比較方便，css的部分是要改哪個檔案呢??

[2015-05-14 06:18] irvin commented on #225
如果這個頁面沒有獨立的 CDs 檔案，那直接新增或放在活動頁面最上面都可以
hane1818 <notifications@github.com>於 2015年5月14日 週四，下午2:17寫道：

[2015-05-14 06:47] hane1818 commented on #225
修改完了，請確認~

[2015-05-14 13:54] kidwm commented on #207
順帶一提， `/firefox/releases/index.shtml` 不能改用 link 的方式嗎？
cc @bootleq

[2015-05-14 16:27] #151 closed

[2015-05-15 05:53] bootleq commented on #207
Symbolic link 嗎？
我想是可以，但目前 index.html 和 _version_/index.html 還有差異在 `<title>`，index 會省略掉版本號。

[2015-05-15 05:56] petercpg commented on #246
看到 #207 才想到這個，close issue。

[2015-05-15 05:56] #246 closed

[2015-05-15 10:24] kidwm commented on #207
其實有個從根本解決的方法是把所有的 release note 存成原始資料再經過編譯產生 html

[2015-05-15 10:42] wi1d5ky commented on #207
同意 @kidwm ，畢竟更新日誌都是同一個 layout，只是差在一些小地方而已，一直重複「複製→新增→修改」感覺很費工，而且還要擔心會不會有出錯或是 miss 掉的問題

[2015-05-15 11:55] irvin commented on #207
如果只是要解決版本號的問題，那就很簡單，不要理他讓他在 index 也顯示出來就好了。
殺雞不必要用牛刀⋯⋯

wildsky <notifications@github.com> 於 2015年5月15日 星期五寫道：

--
@ irvinfly: community liaison
moztw.org Mozilla Taiwan community

[2015-05-18 12:38] irvin commented on #225
上線了，感謝！

[2015-05-18 12:38] #225 closed

[2015-06-20 15:49] irvin opened #260 "製作 2014 第二學期的服務學習頁面"
參考過去的成果彙整頁面： http://moztw.org/events/service2013/
網址放：  http://moztw.org/events/service2014-2/
成果列表在此： https://docs.google.com/spreadsheets/d/1ERq7-4r9KRzu0N1SYYkwHAwcWsQV5iFOkrP0VoioSoY/pubhtml?gid=1909253497&single=true

[2015-06-20 20:35] RJHsiao commented on #260
@irvin 問一下...
我沒有看到負責翻譯 amara 字幕的成員&大部分 MLinks 的文章沒有負責翻譯的成員名稱？
還是說你到時候會把負責成員放上去？

[2015-06-21 08:25] irvin commented on #260
奇怪，弄混了…那是 #162 上學期的清單 Orz （不過上學期也沒做）

[2015-06-21 08:27] irvin commented on #260
https://docs.google.com/spreadsheets/d/1ERq7-4r9KRzu0N1SYYkwHAwcWsQV5iFOkrP0VoioSoY/pubhtml?gid=1909253497&single=true 這才是這學期的，大概是 copy-paste 錯了

[2015-06-21 08:38] irvin commented on #260
文案：

103 學年度第二學期，MozTW 持續偕同 OSSACC 教育部校園自由軟體中心，共同執行服務學習專案。
經交通大學資訊工程學系林正中教授指導，共有九位學生貢獻個人時間，協助(翻譯網路開發文件、技術支援文件、Webmaker 教案、Mozilla Links 新聞與 Firefox OS 除錯等工作)(連結到下面錨點)，在此彙整所有同學的成果，感謝大家的貢獻。

歡迎各大專院校老師一同推廣，以貢獻自由軟體作為服務學習課程內容，詳情請聯繫 [OSSACC](http://ossacc.moe.edu.tw/modules/tinyd0/index.php?id=1)。

[2015-06-23 18:15] irvin opened #261 "MozTW badges 頁面設計"
把他撿回來…
http://blog.bobchao.net/2014/03/introducing-moztw-badges-mozilla.html
https://dl.dropboxusercontent.com/u/3280872/badges/moztw_badges_site.png

[2015-07-02 05:08] irvin opened #262 "在台灣版頁面上方加上警語"
說明「本版本已終止開發，下載最新版 Firefox 請至 [Firefox 正體中文版](http://moztw.org/firefox) 頁面」

[2015-07-02 05:09] mingtsay commented on #262
👍

2015年7月2日(木) 13:08 Irvin <notifications@github.com>:

[2015-07-02 05:10] irvin commented on #262
緣由：有用戶來信內容如下：

[2015-07-05 18:30] irvin opened #263 "把「vibe」加入網站中"
要想辦法把 Mozilla India 做的 http://moztw.github.io/vibe/
放入 moztw.org 下面，或許結合入 /events 或首頁上

[2015-07-17 02:35] RJHsiao commented on #260
奇怪我把commit squash 成一個了，怎麼這邊看到的還是3個...

[2015-07-17 03:01] irvin commented on #260
events/ 下面要放上連結

[2015-07-20 08:17] irvin commented on #260
done, thanks

[2015-07-20 08:17] #260 closed

[2015-07-20 12:11] wi1d5ky commented on #176
不是這一個嗎？
https://github.com/moztw/www.moztw.org/blob/master/thunderbird/inc/ogtag.shtml

[2015-07-21 15:37] irvin opened #277 "建立 /firefox-new/index.html 並使用 cononical 設定指向回 /firefox"
由於先前開發中用的 /firefox-new 被搜索引擎 index 了，他目前有一定流量，
因此我們需要建立 dummy 頁，將用戶轉址回 /firefox，並透過 canonical 告知搜索引擎

[2015-07-21 15:44] petercpg commented on #277
反正 git flow 也不推薦這樣用，不直接丟去新 branch，然後從 master/production 拿掉這個資料夾，最後給 301 redirection 嗎？

[2015-07-21 15:45] irvin commented on #277
現在 repo 沒有這個資料夾，你要幫忙設一下 301 也行

[2015-07-21 15:56] #277 closed

[2015-07-25 17:34] irvin opened #283 "Firefox 更新情報頁面，手機版面樣式小調"
在手機版面上，「全新功能」、「變更」…等標籤應該獨立成行，畫面會好看整齊一點。
![img_2094](https://cloud.githubusercontent.com/assets/165936/8890522/5209ce30-3336-11e5-8643-54bced67a6a7.jpg)

[2015-08-04 18:18] #230 closed

[2015-08-04 18:18] petercpg commented on #229
@alexsh 你能確定一下這邊列的 library 都換完了嗎？

[2015-08-04 18:19] petercpg opened #291 "把大的二進位檔案丟去 Git LFS"
請參考：https://git-lfs.github.com/

[2015-08-07 06:48] alexsh commented on #229
基本上應該是換完了，上面這個PR是查了之後還沒更的。

[2015-08-07 06:49] petercpg commented on #229
ok 那我們就關掉這張票吧，感謝處理。

[2015-08-07 06:49] #229 closed

[2015-08-19 07:51] irvin opened #295 "在 /Foxmosa 加上 Pebble/Android 錶面連結"
https://play.google.com/store/apps/details?id=com.johnnyworks.foxmosawatchface
src: https://github.com/j796160836/FoxmosaWatchFace-AndroidWear

http://apps.getpebble.com/en_US/application/55bed9ed39209aec5f000083
src: https://github.com/j796160836/FoxmosaWatchFace-Pebble

[2015-08-22 14:51] wi1d5ky commented on #176
@irvin 結果這個 issue 還是沒有 close XD

[2015-08-25 16:20] irvin commented on #176
@wi1d5ky 我發現這邊有點問題耶， http://moztw.org/thunderbird 的 go title 是「thunderbird 版本資訊…」之類內容

[2015-08-25 16:22] irvin commented on #27
https://mozillians.org/api/v2/groups/10628/?api-key=a19e24dc1517651dfeb95608e0b4701e4a6dd9d7 < 新的 Mozillians API 取 group 用法

[2015-08-25 16:22] irvin commented on #27
@kidwm 放了一年多了，快來做吧～

[2015-08-25 16:23] irvin commented on #132
thanks

[2015-08-25 16:23] #132 closed

[2015-08-25 16:26] kidwm commented on #27
放在 /about/ 那頁嗎？

[2015-08-25 16:29] irvin commented on #27
先做在 /member 試試

[2015-08-26 17:44] alexsh commented on #27
試API試得差不多了…以現在的API架構硬做ajax query的話，這個網頁的效能我預期會非常的差。
取得群組公開個資清單只拿得到每個使用者的帳號跟API link。
要詳細資料(最少需要名字/暱稱、大頭照、mozillians link)，每個帳號都要跟API存取一次(有多少人就多少個請求，再乘上PV數…)，似乎沒有一次request就拿回指定複數帳號之詳細資料的方法。

[2015-08-27 03:28] kidwm commented on #27
如果他們沒有要繼續改進 API ，也只能這樣了。

[2015-08-27 04:41] mingtsay commented on #27
如果利用 localStorage 來 cache 有比較好嗎？

Chen-Heng Chang <notifications@github.com> 於 2015年8月27日週四 11:28 寫道：

--

Best regards,
Ming Tsay.

小喵 / 蔡璨名
Contact: +886-910-203-014
Website: https://mt.rmstudio.tw
RM Studio <https://rmstudio.tw> Founder
MozTW (Mozilla 台灣社群) <http://moztw.org>
銘傳大學 <http://www.mcu.edu.tw> CSIE <http://www.csie.mcu.edu.tw> 主機負責人

[2015-08-30 02:28] irvin commented on #27
這個頁面大多不是回頭客，所以沒啥差別

Ming Tsay <notifications@github.com> 於 2015年8月27日 星期四寫道：

--
@ irvinfly: community liaison
moztw.org Mozilla Taiwan community

[2015-09-17 16:54] kidwm commented on #207
@wi1d5ky 你居然直接在 1e5409a2a89a579d6618a542cea9b6ec3d113281 動手改了
@bootleq 那現在 title 的差異怎辦？

我另外有個想法是用 rewrite 把 /releases/40.0/ 轉到 /releases/index.shtml?40.0

然後用 SSI 去接 `$QUERY_STRING` 變數來 include 不同的檔案，這樣也能在  index.html 和 version/index.html 做出區隔

甚至如果都用上 rewrite 了，也可以把一堆 40.0/index.shtml 變回 40.0.shtml 消除中間那層資料夾

[2015-09-18 06:11] irvin opened #300 "新增 telegram 頻道連結頁面"
/chat

頁面上列出現行的 telegram 頻道跟加入連結
用戶進入本頁需要先打開 recaptcha，再顯示真正的聊天室連結以防 bot

[2015-09-21 16:35] wi1d5ky commented on #207
我也忘記我當時怎麼會直接改了…
好像當時是看到上面 @irvin 說無所謂就直接改了吧…
太久以前弄的了

[2015-09-22 07:41] irvin commented on #207
我是覺得沒差沒錯啊，對用戶來說沒什麼影響。

[2015-09-22 16:11] petercpg opened #301 "首頁下載框的動態偵測要提供 Linux/Windows (64-bit)"
https://www.mozilla.org/en-US/firefox/all/

官方下載頁現在會給 Windows / Linux 64bit 的 tarball 了

[2015-09-24 13:08] irvin opened #302 "活動頁加上 2015 軟體自由日"
圖片：  https://www.dropbox.com/s/3rp3cqvz2vc79i5/sfd-cake.png?dl=0
連結到 planning pad：   https://public.etherpad-mozilla.org/p/sfd-taipei-2015
（請用大型的按鈕）

[2015-09-24 13:19] irvin opened #303 "活動頁加上 2015 HKOSCon"
連結到： https://discourse.mozilla-community.org/t/mozillians-hkoscon-2015/2909
圖片： https://www.flickr.com/photos/irvin/18620240043/
請用大的按鈕樣式

[2015-09-24 13:25] irvin opened #304 "活動頁加上 FoxYeah @ 2015 COSCUP"
用小顆的按鈕好了，連結到： https://reps.mozilla.org/e/coscup-2015/
圖片： https://www.flickr.com/photos/irvin/20606617281/in/album-72157654959719784/

[2015-11-17 09:32] medicalwei opened #306 "iOS Firefox Update"
To-dos:
- [ ] https://moztw.org/ 使用 iOS 裝置時應該提供相關連結（現在為 Firefox Home）
- [ ] https://moztw.org/mobile/ 應該提供相關資訊

[2015-12-19 09:21] dwchiang opened #318 "Need one `Privacy Policy` url/page for zh-tw locale"
During SUMO Party 2015, we were translating on this article:
https://support.mozilla.org/zh-TW/kb/how-firefox-android-use-permissions-it-requests

and found that there's no translated `Privacy Policy` url/web page for zh-tw locale.

`Privacy Policy` Source Page: http://www.mozilla.org/legal/privacy/firefox.html

[2015-12-19 11:00] petercpg commented on #318
Actually http://www.mozilla.org/legal/privacy/firefox.html is the privacy notice for Firefox.

The real privacy policy is here, also unlocalized to zh-tw:
https://www.mozilla.org/en-US/privacy/

[2015-12-21 09:41] irvin opened #320 "活動頁加上 SUMO Party 2015"
@PuHsiu

[2015-12-23 12:18] wi1d5ky opened #321 "連接到 Mozlink 的網址要把 https 拿掉"
要把網站上所有的 https://mozlinks.moztw.org 改為 http://mozlinks.moztw.org

[2015-12-23 12:30] irvin commented on #320
發現已經掛好了，resolve wontfix

[2015-12-23 12:30] #320 closed

[2015-12-23 12:31] irvin opened #323 "SUMO Party 2015 加上首頁動畫"
把首頁的宣傳效果放到[活動頁](https://moztw.org/events/sumo-party-2015/)上

[2015-12-23 12:34] irvin commented on #323
@PuHsiu

[2015-12-23 12:38] irvin commented on #321
因為 blogger 還沒辦法使用 moztw.org 的 SSL cert，所以連 https://mozlinks.moztw.org 會爛掉

[2015-12-23 16:11] wi1d5ky commented on #235
那 heading 要加上什麼呢？ 微軟正黑？

[2015-12-23 16:26] wi1d5ky commented on #81
目前有這三項：
- Looking for mozip? Try the [tools](https://moztw.org/tools) page! (Don't worry about Chinese, the tools page is in pure English).
- 下載檔案？不用擔心，只是連結錯了，[請到下載頁](https://moztw.org/dl)。
- [MozTW 討論區](https://forum.moztw.org/)

第一個連結我完全不知道 mozip 是什麼…
第二個連結的話，#82 有說要放下載鈕，但我覺得還是可以提供下載頁的連結。
第三個連結我沒有想法

[2015-12-23 16:49] petercpg commented on #81
mozip 是古早以前把 mozilla 安裝程式的 package 解開來，抽出裡面翻譯資源的東西。

連我都沒用過，大概可以算是時代的眼淚了 XD

[2015-12-23 16:52] petercpg commented on #235
就重新整理或設計一下要使用的字體順序，理論上 H* 要使用標題用的字體，p 要使用內文用的字體，但也未必一定要不一樣。

我想針對各個平台放中文字體是需要的，現在還有 Noto Sans 跟 Source Han Sans CJK 了...

[2015-12-23 17:21] wi1d5ky commented on #22
moztw.org/mozloc 是不是掛掉了？

[2015-12-23 17:24] wi1d5ky commented on #235
"Open Sans Light", "Noto Sans", "Source Han Sans CJK", "微軟正黑體",sans-serif;

這樣嗎？其實我也不太清楚個平臺有什麼字體… 蘋果還有儷黑嗎？還是變成蘋方體了？

[2015-12-23 17:32] #78 closed

[2015-12-23 17:33] wi1d5ky commented on #81
聽起來就覺得以前的翻譯組好克難XD

所以第一個連結應該是用不到囉?

[2015-12-24 03:40] petercpg commented on #81
現在很少有機會用到了，可以拿掉我想。

[2015-12-24 03:44] irvin commented on #81
這邊的連結都沒有掛 GA 事件，暫時沒有數據可以參考。
第一個拿掉吧，第三個可以調整句子一下，然後第二個可以留著，但是我還是覺得直接放顆下載鈕會很有用。

另外還有 #1 要放上失蹤協尋資料

[2015-12-24 03:48] irvin commented on #318
@petercpg 兩個都開好 google doc 來翻吧（到時可以放在同一頁）

[2015-12-24 04:34] irvin commented on #22
@wi1d5ky 這一頁從來沒有做過喔

[2015-12-24 04:38] wi1d5ky commented on #22
哦，原來是說這一頁的網址要用 mozloc

[2015-12-24 04:42] wi1d5ky opened #326 "消除 releases 後面的那層版本號資料夾"
As @kidwm said:

[2015-12-24 04:43] wi1d5ky commented on #207
讓 @kidwm 說的那個獨立成一個新 issue #326
這樣這個 issue 就維持只有 `/firefox/releases/ 頁面加上 OG 資訊` 的部分了。

[2015-12-24 10:18] irvin commented on #207
![2015-12-24 18 16 51](https://cloud.githubusercontent.com/assets/165936/11993340/938e37fa-aa6a-11e5-806f-1e6d7e18ae53.png)
圖示還沒補上
desc 最後面有多餘的「Firefox 免費下載…」

[2015-12-24 10:21] wi1d5ky commented on #207
晚上下課後來改

Irvin <notifications@github.com> 於 2015/12/24週四 18:18 寫道：

[2015-12-24 10:21] irvin opened #327 "首頁「Firefox Android 版」下載框要改為「Firefox 行動版」"
下載框要改為「Firefox 行動版」
框內多加 Firefox for iOS 連結到 itunes store
https://itunes.apple.com/tw/app/firefox-web-browser/id989804926?mt=8

[2015-12-24 16:09] #207 closed

[2015-12-25 04:06] irvin opened #329 "在手機上顯示奔跑的 Foxmosa"
#78 之後在手機上奔跑 Foxmosa 是隱藏的，可以顯示在「狐耳摩莎」的字樣下面
![2015-12-25 12 05 22](https://cloud.githubusercontent.com/assets/165936/11999712/ca459bea-aaff-11e5-94e3-f13781bfbb24.png)

[2015-12-25 06:27] wi1d5ky commented on #329
I'll take care of it

[2015-12-26 09:03] wi1d5ky commented on #329
變成這樣 ok 嗎？
![2015-12-26 17-03-01](https://cloud.githubusercontent.com/assets/6042803/12005802/90a9456e-abf2-11e5-8d90-0447460d80a4.png)

[2015-12-26 09:48] wi1d5ky commented on #327
這個 issue 可以關囉～

[2015-12-26 10:42] wi1d5ky opened #333 "/firefox/ 下的 "Firefox 的特色" 改用 checkbox 的寫法"
在手機上現在是用 hover 的方式來展開，所以再點一次「Firefox 的特色」並不會把它收起來，改用 checkbox 來寫就可以讓他正常使用。

麻煩 @irvin 幫忙指派給我一下～ 感謝！

[2015-12-26 10:46] wi1d5ky commented on #333
或是這個要變成 Good New Bug 也可以XD
ref: http://www.sitepoint.com/pure-css-off-screen-navigation-menu/

[2015-12-26 15:51] #329 closed

[2015-12-26 16:21] PuHsiu opened #335 "The "http://whatcanidoformozilla.org" will be blocked by security policy in "/contribute""
In the page `"/contribute"`, there are 3 way (tabs) for new contributor: "依興趣檢視", **"依語言選擇"**, "留下資料由專人與您連繫".

The second one is implement via `<iframe src="http://whatcanidoformozilla.org/">`, which will be **blocked by browser security policy** since any http resource is not allowed in https page.

It may cause the content block empty.

[2015-12-26 16:45] irvin opened #336 "更新行動版頁面的下載按鈕，加入 iOS 連結"
https://moztw.org/mobile/
這邊「測試版」按鈕改成「iOS 版」按鈕
android 測試版改成文字連結，替換原本的「多語系版」字樣

[2015-12-26 16:46] irvin opened #337 "首頁的行動版字樣 hover 展開在 iOS 上無效"
對 div 的 :hover 在 iOS 上不會被 Click 觸發

[2015-12-26 16:49] irvin commented on #306
#336

[2015-12-26 16:51] irvin opened #338 "首頁下方三欄使用 iOS 裝置時應該提供相關連結（現在為 Firefox Home）"
#306

[2015-12-26 17:57] irvin commented on #338
2cb2b5c9b756e99162c3da40034f238895bd5348

[2015-12-26 17:57] #338 closed

[2015-12-26 17:58] #327 closed

[2015-12-26 17:58] #337 closed

[2015-12-26 18:00] irvin opened #339 "行動版頁面加入 iOS 相關文字敘述與圖片"
moztw.org/mobile 需要調整 / 添加與 iOS 有關的相關內容
可參考 https://www.mozilla.org/zh-TW/firefox/ios/ 的內容

[2015-12-26 18:23] irvin opened #340 "首頁 column Firefox iOS 欄位暫時替換為 focus"
推廣一下 Focus，直接照 iOS 欄位製作，把 iOS 欄位先  掉

文案參考：
Focus by Firefox
保護你在 iOS 上瀏覽網路時的隱私。Mozilla 最新的 iOS app “Focus”，協助您阻擋廣告商、流量分析與社交網站的追蹤，提高速度且節省流量。

連結：
https://itunes.apple.com/app/id1055677337

圖示：
![product-focus](https://cloud.githubusercontent.com/assets/165936/12007463/8538f4f6-ac40-11e5-962b-c1fa862f5f6f.png)

[2015-12-26 18:32] irvin opened #341 "首頁主圖偵測 iOS 時顯示 iOS 大圖"
可直接用這張：
https://www.mozilla.org/media/img/firefox/ios/firefox-iphone-white-high-res.fb6b32568557.png
參考：https://www.mozilla.org/zh-TW/firefox/ios/

![firefox-iphone-white-high-res fb6b32568557](https://cloud.githubusercontent.com/assets/165936/12007492/06e6feca-ac42-11e5-830b-54ad8f6ec67d.png)

[2015-12-26 18:45] irvin opened #342 "手機 foxmosa 跑地球的下方上一條陰影"
在紫色的地方上一個淡淡的向上陰影，讓地球的切斷處比較不突兀（效果就像是下方的底色蓋住了上方的地球，或地球從桌布上的洞中冒出來）

![moztw - 1](https://cloud.githubusercontent.com/assets/165936/12007537/bf8c12c0-ac43-11e5-934c-3519aa2c5761.png)

[2015-12-26 18:55] wi1d5ky commented on #342
好像不錯，我想一下怎麼弄

[2015-12-30 05:53] bootleq commented on #333
現在 desktop 版會看到多出一個 checkbox，應該隱藏起來比較好。

[2015-12-30 05:53] wi1d5ky commented on #333
忘記隱藏了！！

莊喬 <notifications@github.com> 於 2015/12/30週三 13:53 寫道：

[2015-12-30 05:57] irvin commented on #333
多設一個 cursor: pointer 上去，不然電腦上滑鼠不會有指標

[2015-12-30 06:30] #333 closed

[2015-12-31 18:40] Sea-n commented on #300
我是覺得可以用一些比較噁心不可讀的方式產生網址，讓大部分機器人失效，讓瀏覽器用 JavaScript 解，這樣使用體驗應該也會比較好

[2015-12-31 18:45] irvin commented on #300
先通過 recaptcha 再顯示網址，應該就能擋掉大部分機器人了
/chat 是為了好記憶，讓大家只要記得 /chat 就能連到聊天室就好；itclog 也可以放到這邊來

[2015-12-31 18:53] irvin commented on #321
暫時找到這些
<img width="577" alt="2016-01-01 02 51 45" src="https://cloud.githubusercontent.com/assets/165936/12067313/c1dfa4d6-b032-11e5-8e65-9543196c35a1.png">
<img width="437" alt="2016-01-01 02 52 09" src="https://cloud.githubusercontent.com/assets/165936/12067314/c3d46b28-b032-11e5-92e1-cccf1a517acb.png">

[2015-12-31 18:53] irvin opened #346 "把 mozlinks-zh.blogspot.com 連結改成 mozlinks.moztw.org"
網站上還有很多指向 mozlinks-zh.blogspot.com 的舊連結

[2015-12-31 18:55] irvin commented on #321
順便可以解一下 #346 XD

[2016-01-01 09:34] Sea-n opened #350 "側邊欄無法滑動隱藏"
直覺上左滑可以關閉左側選單，不知網頁可否這麼作
![](http://i.imgur.com/kBWSd3D.png)

[2016-01-14 15:55] wi1d5ky commented on #326
@irvin 麻煩你這個幫忙 assign 給我一下～

[2016-01-14 16:05] wi1d5ky commented on #326
thx a lot!

[2016-01-14 16:05] irvin commented on #326
我不覺得這有必要，對 SEO 也沒特別的幫助

[2016-01-17 08:16] wi1d5ky commented on #326
我是覺得對維護有幫助，畢竟現在的資料夾多那一層蠻冗餘的，如果可以消掉只留單純的資料未嘗不是一件好事，未來要做進一步的改進也會比較方便，總之我先弄弄看吧，學習才是我的主要目的 ;P

[2016-01-17 09:06] irvin commented on #326
對於用戶來說一樣要連到 /40.0/
然後反而讓維護更複雜（原本只是單純的 .shtml 現在又多了 rewrite 的設定等等）

這個專案的最大原則應該要力求簡單，就是因為架構很單純，才能讓新人好上手，也不太花精力維護這麼多年

從檔案到最後顯示出來，中間只要多過一層不同的技術，就要考慮會不會讓後人接手更麻煩

[2016-01-17 09:08] irvin commented on #326
你可以開個不同的 branch 出來試，但是要有對維護與用戶雙方都有更清楚的優點，我才覺得該 merge 進來

[2016-01-24 07:25] irvin opened #356 "拿掉 telegram 頁面網址最後的 .php"
目前 telegram 網址是 >
https://moztw.org/community/telegram.php
希望可以不要有 .php >
https://moztw.org/community/telegram

[2016-01-24 07:26] irvin opened #357 "把其他幾個群組連結都放進 telegram 頁面"
mozillians, amara-eng, amara...

[2016-01-24 07:27] irvin opened #358 "修復 telegram 網頁的 mobile 版面"
加上適當的 meta viewport 設定，讓他在手機上打開來寬度正常

[2016-01-24 07:28] irvin commented on #300
頁面上線了，進一步調整： #356 #357 #358

[2016-01-24 07:28] #300 closed

[2016-01-24 08:13] irvin commented on #356
改成 /community/telegram/index.php 就可以了

[2016-01-24 15:58] #356 closed

[2016-01-26 03:50] Sea-n commented on #358
已在 #359 加入 viewport 資訊，讓 Google reCAPTCHA 自動適應手機螢幕

[2016-01-26 03:54] Sea-n commented on #357
請問要放哪類的連結？最後是否會演變為另一個專案？

[2016-01-26 04:03] irvin commented on #357
不會，純粹 moztw 相關的
# MozTW 字幕組 - https://telegram.me/joinchat/AutpyAC4ZZF7syTysmXPOg
# mozilla-video-l10n (en) - https://telegram.me/joinchat/AutpyAGi7CL74m0Zs7pPTA
# MozTW Design - https://telegram.me/joinchat/AutpyAHfYs0BX2ZfX9XwYA
# Foxfooder - https://telegram.me/joinchat/AutpyAJlAH_DT1o80qwbhQ
# Mozillians (en) - https://telegram.me/joinchat/AutpyDvFHJHnUD9OZdPtlg

暫時就這樣吧

[2016-01-26 04:05] irvin opened #361 "stage 的 github-hook 壞掉了"
現在 push 到 master 上，stage 站不會自動更新

[2016-01-26 04:43] petercpg commented on #361
php-fpm 預設開的 children 數量太少，暫時調高了觀察看看。

[2016-01-26 04:43] #361 closed

[2016-01-26 04:56] irvin opened #362 "index.php 不會預設載入"
https://moztw.org/events/fxu12rp/
https://www-stage.moztw.org/community/telegram/
需要用到 index.php，但是目前不會自動載入

[2016-01-26 04:56] irvin commented on #362
@petercpg  我試著把 stage 的 vhost.conf 的 directlyindex 加上 index.php 但是無效

[2016-01-26 05:02] irvin commented on #358
![2016-01-26 13 02 36](https://cloud.githubusercontent.com/assets/165936/12572903/17b59740-c42d-11e5-98ab-ce0b41dfa22a.png)
resolved fixed, tks.

[2016-01-26 05:02] #358 closed

[2016-01-26 06:27] Sea-n opened #363 "檢查外部連結"
光是 HTML a tag 就包含幾百個連結，需要有人檢查是否網域已失效、不該出現在 MozTW 、 使用 `<a href="//domain">` 但無 HTTPS 或是憑證失效

[2016-01-26 06:38] petercpg commented on #363
應該要掃完整的 URI 而不是只列 hostname 而已？

另外掃出來的東西要人工檢查，可能因為時代的關係需要留存。

Sean <notifications@github.com> 於 2016年1月26日 下午3:27 寫道：

--
Peter Pin-Guang Chen (petercpg)
Chinese (Traditional) [zh-TW] Localization Project Coordinator
Mozilla Taiwan Community (MozTW) http://moztw.org

[2016-01-26 08:26] #346 closed

[2016-01-27 12:09] petercpg commented on #362
我們用 mod_proxy 來接 *.php 的 request，DirectoryIndex 是 Apache 這邊的事，php 不會知道那個 / 後面是什麼。

我想比較好的做法是把 /community/telegram/index.php 改回 community/telegram.php，然後 fxu12rp 的 redirection 寫回到 .htaccess。

[2016-01-27 12:14] irvin commented on #362
目標是要讓他只有 /telegram/ 而不要有 .php 冒出來，有其他解嗎？

[2016-01-27 12:25] petercpg commented on #362
我可以針對這個路徑特別寫規則，但要做到 DirectoryIndex 的功能應該要換 nginx 才有可能。

https://www-stage.moztw.org/community/telegram/

[2016-01-27 12:48] irvin commented on #362
知道之前的機器上為什麼能動嗎？
Peter Chen <notifications@github.com>於 2016年1月27日 週三，下午8:26寫道：

[2016-01-27 12:49] irvin commented on #362
或是 forum 那邊為什麼也是吃 index.php 能動？
Irvin Chen <irvin@mail.moztw.org>於 2016年1月27日 週三，下午8:48寫道：

[2016-01-27 13:20] petercpg commented on #362
不知道，或許是版本不同的變動，Forum 是 5.6，www 是 7.0。

[2016-01-27 14:12] mingtsay commented on #362
Apache / nginx 應該不難替換，只是好奇問題是在 httpd 還是 php ？感覺上面講得比較像是 httpd 的問題

Peter Chen <notifications@github.com> 於 2016年1月27日週三 21:20 寫道：

--

Best regards,
Ming Tsay.

小喵 / 蔡璨名
Contact: +886-910-203-014
Website: https://mt.rmstudio.tw
RM Studio <https://rmstudio.tw> Founder
MozTW (Mozilla 台灣社群) <http://moztw.org>
銘傳大學 <http://www.mcu.edu.tw> CSIE <http://www.csie.mcu.edu.tw> 主機負責人

[2016-01-27 15:52] petercpg commented on #362
Apache 一直都是 2.4，也沒有理由另一個 vhost 可以這裡不行。

[2016-01-27 20:21] coin3x commented on #301
只是顯示好看的嗎？

[2016-01-28 02:44] petercpg commented on #301
什麼意思？

[2016-01-28 05:40] coin3x commented on #301
他不是都會導到同一個連結？真的有需要特地再顯示 64 bit 嗎？

[2016-01-28 05:48] petercpg commented on #301
https://download.mozilla.org/?product=firefox-44.0-SSL&os=win&lang=zh-TW
https://download.mozilla.org/?product=firefox-44.0-SSL&os=win64&lang=zh-TW
https://download.mozilla.org/?product=firefox-44.0-SSL&os=linux&lang=zh-TW
https://download.mozilla.org/?product=firefox-44.0-SSL&os=linux64&lang=zh-TW

連結不一樣呀？

[2016-01-28 05:49] coin3x commented on #301
我的錯

[2016-01-28 07:32] petercpg commented on #336
反正都是正式版，「正式版」字樣可以拿掉，然後等 #306 做完再一起 deploy 這個吧，文字太奇怪了。

[2016-01-28 07:35] irvin commented on #336
上面是說兩顆按鈕直接改成 iOS 版跟 Android 版
測試版改成文字連結

[2016-02-01 06:45] Vdragon commented on #362
我也遇到這個問題，根據我對 Apache 粗淺的使用經驗 `dir/index.*` 應該要被 Web server 視為 `dir` 的傳回頁面才對

不過想必 moztw.org 的 Apache 設定應該改了不少...

[2016-02-01 07:41] mingtsay commented on #362
<IfModule dir_module>
    DirectoryIndex index.php index.html index.htm
</IfModule>

應該是這樣吧？

而 nginx 則是：
server {
    index index.php index.html index.php;
}

Ｖ字龍(Vdragon) <notifications@github.com> 於 2016年2月1日週一 14:45 寫道：

--

Best regards,
Ming Tsay.

小喵 / 蔡璨名
Contact: +886-910-203-014
Website: https://mt.rmstudio.tw
RM Studio <https://rmstudio.tw> Founder
MozTW (Mozilla 台灣社群) <http://moztw.org

[2016-02-01 08:56] irvin commented on #362
就是  `DirectoryIndex index.php index.html`  沒效才奇怪，問題是 index.php 無效的同時，又會自動去找 index.html

[2016-02-01 09:41] mingtsay commented on #362
在 php 那邊也有一個預設網頁，兩邊都要設定好才行，是在 fastcgi 的參數設定的！！

Irvin <notifications@github.com> 於 2016年2月1日週一 16:56 寫道：

--

Best regards,
Ming Tsay.

小喵 / 蔡璨名
Contact: +886-910-203-014
Website: https://mt.rmstudio.tw
RM Studio <https://rmstudio.tw> Founder
MozTW (Mozilla 台灣社群) <http://moztw.org>
銘傳大學 <http://www.mcu.edu.tw> CSIE <http://www.csie.mcu.edu.tw> 主機負責人

[2016-02-01 09:44] Sea-n commented on #362
嗯...
我在 .htaccess 修改的是不是無效，要回復嗎?

[2016-02-01 10:04] irvin commented on #362
fixed with 5d54af00bb89587745cb73da71eb7d15d856b184

[2016-02-01 10:04] #362 closed

[2016-02-01 11:19] #357 closed

[2016-02-01 11:22] irvin opened #371 "/telegram 頁面 UX 修正"
1. 「我不是機器人」通過之後，應該自動顯示出連結（隱藏 captcha、顯示連結；或直接頁面轉向），不需要人再去點 submit 按鈕
2. 加入連結點選要跳出新視窗（否則用戶從 telegram 上一頁回來時，又會需要重新通過 captcha）

[2016-02-01 12:12] mingtsay commented on #371
要透過 AJAX 驗證，我可以協助修改 PHP Script

Irvin <notifications@github.com> 於 2016年2月1日週一 19:22 寫道：

--

Best regards,
Ming Tsay.

小喵 / 蔡璨名
Contact: +886-910-203-014
Website: https://mt.rmstudio.tw
RM Studio <https://rmstudio.tw> Founder
MozTW (Mozilla 台灣社群) <http://moztw.org>
銘傳大學 <http://www.mcu.edu.tw> CSIE <http://www.csie.mcu.edu.tw> 主機負責人

[2016-02-01 12:14] Sea-n commented on #371
目前已經是按 Sumbit 觸發 onclick 事件 AJAX 取的網址了，現在問題是我這幾天沒好好查如何自動送出 AJAX....

[2016-02-01 12:16] Sea-n commented on #371
JavaScript (jQuery?) 的部分感謝 @coin3x 提供 (雖然表面上是我提交的)

[2016-02-02 03:05] irvin commented on #363
@Sea-n 你的列表現在 404

[2016-02-09 05:44] coin3x commented on #371
自動送出 AJAX 完成了

[2016-02-09 09:14] mingtsay commented on #371
👍

Coin <notifications@github.com> 於 2016年2月9日週二 13:44 寫道：

--

Best regards,
Ming Tsay.

小喵 / 蔡璨名
Contact: +886-910-203-014
Website: https://mt.rmstudio.tw
RM Studio <https://rmstudio.tw> Founder
MozTW (Mozilla 台灣社群) <http://moztw.org>
銘傳大學 <http://www.mcu.edu.tw> CSIE <http://www.csie.mcu.edu.tw> 主機負責人

[2016-02-10 14:07] irvin commented on #371
👍

[2016-02-10 14:07] #371 closed

[2016-02-17 09:28] irvin opened #376 "event 頁面的 jquery 死掉導致頁面的互動壞了"
https://moztw.org/events/
![2016-02-17 17 27 48](https://cloud.githubusercontent.com/assets/165936/13105034/d02e2cea-d59b-11e5-975f-777a21623684.png)

[2016-02-18 09:37] irvin opened #377 "補充 /about 中 OSSPlanet 的敘述"
目前的特別感謝內容：

加上 OSSPlanet 資訊成為：

[2016-02-18 09:38] irvin opened #378 "更新 Telegram 加入連結"
因為先前被 telegram 中文推廣頻道流出，因此要 revoke 所有連結並更新頁面

[2016-02-18 09:53] #378 closed

[2016-02-18 09:55] irvin opened #380 "美化 /telegram 頁面"
加上網站通用的頁首頁尾，讓他看起來不會像是一個白頁面

[2016-02-18 12:11] petercpg commented on #377
先不必動，BlueT 有提過等 OSSPlanet 頁面弄好再改。

[2016-02-23 16:54] irvin opened #381 "服務學習頁面多字"
https://moztw.org/events/service2013q4/
頁面上「"謝家銘」多了「"」需要移除

[2016-02-27 16:15] bobchao opened #382 "在全站頁尾放上 GitHub Repo 連結"
鼓勵大家貢獻前當然好像應該先讓人方便了解這個網站的 Repo 在那 -- 如果可以直接指到這一頁，那就更棒了。

[2016-02-27 16:15] bobchao opened #383 "工寮頁面加上上官的 keyholder 資訊"
新人新氣象

[2016-02-27 16:17] bobchao opened #384 "想借工寮的人，應該可以直接從工寮網頁了解申請時要回答我們什麼問題"
目前都是 Irvin 會先回一封信確認，或許這些資訊可以更方面從工寮網頁上面直接獲得並回答。
（在工寮 hackfolder 裏好像有，但沒人再連去看）

[2016-02-27 16:38] bobchao commented on #383
done by pull request https://github.com/moztw/www.moztw.org/pull/385

[2016-02-27 16:38] #383 closed

[2016-02-28 17:06] Sea-n opened #390 "補全 MozTW Telegram 連結"
需要有人將相關群組加入連結、說明文字依格式放至 /community/telegram/link.php

[2016-02-28 17:12] Sea-n opened #391 "統一 MozTW 的 Telegram 連結"
於搜尋引擎 (例如 [Google](http://lmgtfy.com/?q=MozTW+Telegram)) 上會找到許多原 Telegram 的 join link ，需要網頁所有人改成 moztw.org/telegram

例如：
* https://old.etherpad-mozilla.org/moztw-meta-pages
* https://m.facebook.com/MozTW/posts/966832856690044

[2016-02-28 18:20] Sea-n opened #392 "Telegram 連結頁面主體置中"
目前在頁面頭尾加入模板，需要將中間內容主體置中較易閱讀

[2016-02-29 04:30] #381 closed

[2016-03-18 17:03] Sea-n opened #398 "更新 /firefox 介紹內容"
[Firefox 介紹頁](https://moztw.org/firefox/) 中內容為 2013 年中新增的，當時 Firefox 才出到 21 ，現在應該有許多未介紹到的特色功能了

[2016-03-19 13:06] #380 closed

[2016-03-19 13:06] #321 closed

[2016-03-19 13:19] #392 closed

[2016-03-23 14:32] Larry0220 commented on #376
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

line 30 使用

[2016-03-23 15:50] irvin commented on #376
幫忙改看看然後發個 PR?

[2016-03-26 10:48] Larry0220 commented on #376
我還不會用git，我把原來 line 30
<script>jQuery(function($) ... </script>
移到最底下，看起來是能正常運作

2016-03-23 23:50 GMT+08:00 Irvin <notifications@github.com>:

[2016-03-28 02:07] #376 closed

[2016-03-28 02:09] appleboy commented on #376
@irvin @Larry0220 根據 @Larry0220 的測試，我修正了一版，本來要發 PR 的，不小心直接改了 ORZ，麻煩在測試看看。

[2016-03-28 03:44] irvin commented on #376
@appleboy 下次 GoodNewBug 不要動手，要留給新人改啊～

[2016-03-28 06:14] appleboy commented on #376
@irvin 啊啊 ... 好的  我手誤  抱歉了

[2016-04-05 05:01] #301 closed

[2016-04-05 08:20] irvin commented on #391
第二個我把網址改了，但是他的附件無法更新
第一個是舊的 mopad，那邊沒辦法改

[2016-04-05 08:22] irvin commented on #391
有看到其他網址再 re open~

[2016-04-05 08:48] irvin opened #404 "telegram 頁面預設會跑去英文版"
http://moztw.org/community/telegram/
除非手動選擇成中文，之後重載才會顯示中文
不然新瀏覽器連進來都會是英文版

[2016-04-05 09:05] #391 closed

[2016-04-05 09:30] irvin opened #406 "調整首頁下載 Firefox 的 win/linux 的 64bit 選項"
更新，目前結論是首頁要：

1. 先隱藏 windows 64bit 版
2. 64bit linux 上提供 linux 64bit 版，隱藏 linux 32bit 版連結

這樣同時就只會顯示三個版本，跟原本一樣，比較簡單

--最好能直接在 32bit 的 OS 上隱藏 64bit 的項目，不然拉的太長了，用戶也會不知道該點哪一個--

[2016-04-05 10:18] irvin commented on #406
方案有兩個：
1. 64bit 的機器上，只顯示 64bit 的下載，32bit 的機器上只顯示 32bit 的下載（但是現在 64bit 有全面推動了嗎？）
2. 64bit 的機器上，顯示 64bit 跟 32bit 的下載，隱藏非該 OS 的選項（但是一般用戶還是不知道怎麼選）

[2016-04-05 10:18] irvin commented on #406
現在用 64bit win 跟 linux 去 mozilla.org/en-US 下載 firefox，會直接給 64bit 版了嗎？如果官方會自動給 win64，那我們就可以照著作不管了。

[2016-04-05 11:01] medicalwei commented on #406
When getting the download link from mozilla.org/en-US, it is 64-bit Firefox link for amd64, and 32-bit Firefox link for i386.
In Windows, it is the link to a downloader, and I can assume it is x86 version judged by its installation location.

![parallels picture](https://cloud.githubusercontent.com/assets/74481/14279610/bcb3c6b2-fb60-11e5-9b45-8b8a4086842d.png)

[2016-04-05 12:58] veloci85 commented on #406
同上，win10 x64在 mozilla.org/en-US 下載 firefox 會得到 Stub 線上安裝檔 (e.g. Firefox Setup Stub 45.0.1)
實際安裝確認，以該檔案安裝的 Firefox 為32-bit 版本無誤。
![01](https://cloud.githubusercontent.com/assets/1804185/14282452/68417d04-fb79-11e5-9900-c3b4db7cc653.png)

[2016-04-08 13:24] irvin commented on #406
結論是：

1. 先隱藏 windows 64bit 版
2. 64bit linux 上提供 linux 64bit 版，隱藏 linux 32bit 版連結

這樣同時就只會顯示三個版本，跟原本一樣，比較簡單

[2016-04-08 18:35] mingtsay commented on #406
👍

Irvin <notifications@github.com> 於 2016年4月8日週五 21:24 寫道：

--

Best regards,
Ming Tsay.

小喵 / 蔡璨名
Contact: +886-910-203-014
Website: https://mt.rmstudio.tw
RM Studio <https://rmstudio.tw> Founder
MozTW (Mozilla 台灣社群) <http://moztw.org>
銘傳大學 <http://www.mcu.edu.tw> CSIE <http://www.csie.mcu.edu.tw> 主機負責人

[2016-04-29 14:29] irvin opened #416 "community/telegram 支援 public group 的 join link"
有些 super group 會有公開的加入連結，eg.,  https://telegram.me/mozvideol10n
目前的設計無法支援這一類的連結

[2016-04-29 14:44] Sea-n commented on #416
現在是假如是 `https://telegram.me/joinchat/A8eCpTuH8Omg` 就傳 `A8eCpTuH8Omg`

為了支援 Supergroup Link 就用 `@Mozillians` 的格式傳給瀏覽器，再用 JavaScript 判斷開頭為 `@` 時輸出成 `https://telegram.me/Mozillians` 應該可行吧？

[2016-04-29 14:46] irvin opened #417 "/community/telegram 加入 wiki.mozilla.org/telegram 連結"
在頻道列表底下加上一行「看更多 Telegram 頻道」 連到 https://wiki.mozilla.org/Telegram
英文則是「see more Telegram channels」

[2016-05-01 08:29] #416 closed

[2016-05-05 05:34] petercpg opened #424 "[space] 工寮網頁上要有更明確的借用規定"
省得一堆人每次發了與工寮不合的借用 request

ref  #100

[2016-05-05 05:38] petercpg opened #425 "[space] 工寮借用申請表單"
常常有人借用工寮都還需要我們再次發信確認活動內容/性質/授權/etc.
可以串接 typeform/google doc 或任何之類的服務讓人填表後回覆。

[2016-05-05 09:11] petercpg opened #426 "[space] 把老 etherpad 上面的文件整理到其他的協作平台"
例如說移到 hackpad

包含但不限於 Space 頁面底下的「營運中心」、「使用規範」等連結。

[2016-05-12 14:44] petercpg commented on #425
I think we can follow this issue: https://github.com/mozilla/community-spaces/issues/3

[2016-05-15 15:28] bootleq opened #428 "/news/ 新聞頁面沒有標示出 2016 的條目"
現在「2015」下面的條目，12 月後的都是 2016 的新聞，應該獨立放到 2016 的區塊才對。

![0515-232015](https://cloud.githubusercontent.com/assets/156608/15275045/00f2e4ea-1af4-11e6-860e-4603f0d9d5d7.png)

[2016-05-16 06:29] bobchao commented on #425
這張票要定義表單而已，還是要實作到什麼程度？ 我可以先用 Google form 做一個，如果是這個程度可以先 assign 給我

[2016-05-16 16:04] petercpg commented on #425
這一張 bug 可以先當作 meta bug，另外再開一張來做 Google Form 表單

[2016-06-14 20:19] irvin commented on #406
感謝上面 patch，另外在非 linux 64bit 的環境下，也把 Linux 64bit 隱藏起來好嗎？

[2016-06-18 12:43] irvin commented on #406
Thanks!

[2016-06-18 12:43] #406 closed

[2016-06-22 16:02] wildskyf opened #433 "https://moztw.org/events/firefox2party/ 頁面歪一邊"
https://moztw.org/events/firefox2party/

[2016-06-22 16:02] wildskyf opened #434 "https://moztw.org/events/ 遊台灣的日期是 2008/7~8"
https://moztw.org/events/

[2016-06-22 17:29] wildskyf opened #435 "Firefox 1 party 的照片站失聯了（photo.moztw.org）"
http://photo.moztw.org

[2016-06-23 02:17] petercpg commented on #435
photos 在 repo 還是 svn 的時代就拆掉啦，但照片沒記錯應該有備份到 flickr？

[2016-06-27 18:39] wildskyf commented on #435
Ping @irvin

[2016-06-27 18:56] wildskyf commented on #434
是要改成 2008/07 ~ 08 還是只要寫 2008/07 就好？

[2016-06-28 06:55] irvin commented on #434
如果空間放得下就 2008/07~08  或 2008/7~8
如果放不下就 2008/07

[2016-06-28 06:57] irvin opened #440 "遊台灣活動頁的 Google Map 歪一邊"
https://moztw.org/events/foxmosa-tour/

[2016-06-28 06:58] irvin opened #441 "遊台灣活動頁要補上 Youtube 影片嵌入"
https://www.youtube.com/watch?v=xb4i8tobZno
放在活動紀錄最下面，活動辦法之上

[2016-06-28 07:00] irvin commented on #435
我後來在 ossf 時代的主機上曾經有看到這個資料夾，搬到暨南就不知道還在不在了

[2016-06-28 07:00] irvin commented on #435
資料夾裡面不只有照片，還有賀卡什麼的，然後那個網頁是靜態網頁能直接打開

[2016-06-28 07:01] irvin commented on #435
@petercpg 沒印象有這件事，也不知道去哪找 > 照片備份到 Flickr
@bobchao ?

[2016-06-28 07:01] #433 closed

[2016-06-28 07:03] irvin opened #442 "firefox2party 頁面校園巡迴講座的 title 跟活動的總索引按鈕並在一起了"
https://www-stage.moztw.org/events/firefox2party/
「校園巡迴推廣講座
想多認識 Firefox 2？十一月中起，參加 Firefox 校園巡迴推廣講座，再造網路新體驗！我們將介紹 Firefox 2 的特異功能，帶您了解在全球造成「火狐熱」的原因。」
他的正確位置應該是在三顆按鈕之下

[2016-06-28 07:04] irvin commented on #442
@wildskyf

[2016-06-28 11:32] bobchao commented on #424
現在的表單上應該能講的都講了 XD 大光看看？ @petercpg

[2016-06-28 14:58] petercpg commented on #424
good to me, closing

[2016-06-28 14:58] #424 closed

[2016-06-28 14:58] wildskyf commented on #442
像這樣嗎？
![2016-06-28 22-57-56](https://cloud.githubusercontent.com/assets/6042803/16420402/c68f1f0a-3d83-11e6-8fb3-c44014bf0a5d.png)

[2016-06-29 07:26] irvin commented on #442
yes, 有點怪怪的不過總是比原本好
上面那三格讓他置中好了

[2016-06-29 07:27] wildskyf commented on #442
或是我試試看能不能讓他變寬，左右對齊？

[2016-06-29 07:28] irvin commented on #442
good

[2016-06-29 08:18] #442 closed

[2016-06-29 08:18] #428 closed

[2016-06-29 08:19] #440 closed

[2016-07-05 16:51] shangkuanlc opened #446 "對照最新版的社群參與指引"
詳見 https://translate.google.com/toolkit/workbench?did=00u76t200vc7mjulxjwg&hl=zh_TW
以及 https://moztw.hackpad.com/Mozilla--xCwmVicfVaU

我們需要更新中文的版本到1.1版

[2016-07-12 09:07] shangkuanlc commented on #446
已經翻譯好了並放在 [moztw.hackpad]( https://moztw.hackpad.com/Mozilla--xCwmVicfVaU

) 上，請大家校閱囉

[2016-07-13 15:19] shangkuanlc opened #447 "將 telegram 頁面加入各頻道的介紹"
http://moztw.org/community/telegram/ ，請更新為：
-  MozTW -- 通用頻道。歡迎新手從此開始參與，各式各樣的專案、想法都可以在此提出。
-  MozTW 字幕組 --影片字幕子頻道。關於 Mozilla 相關的影片字幕的翻譯與時間軸討論
-  MozTW Design --設計子頻道。關於 Mozilla 相關的美工、圖案的設計討論。
-  MozTW 手工藝群組 -- 手工藝子頻道。例如拼豆、布偶等，主要以與 mozilla 相關周邊為主，好玩吸引人，軟性的設計討論。
-  Foxfooders (zh) -- Foxfooder專案台灣子頻道（專案已停止）。另有B2G頻道。
-  MozTW dev/add-on -- 開發者及套件子頻道。
-  MozTW@高雄 -- 高雄摩茲事務子頻道。
-  Mozillians -- 國際摩茲人子頻

[2016-07-29 13:24] shangkuanlc commented on #446
校閱已經完成，請人整理到moztw官網上～

[2016-07-29 14:09] shangkuanlc commented on #446
@irvin 建議，在 www.moztw.org/community/ 裏頭開 guideline 目錄，把頁面放進去。

[2016-08-02 08:28] irvin commented on #447
![2016-08-02 16 28 14](https://cloud.githubusercontent.com/assets/165936/17322034/22643094-58ce-11e6-9229-ce67cc7d019c.png)
把各頻道的敘述加到頻道名稱下方

[2016-08-22 07:37] irvin commented on #447
fixed on https://github.com/moztw/www.moztw.org/pull/451
thanks @hanbz

[2016-08-22 07:37] #447 closed

[2016-08-22 07:37] irvin commented on #447
fixed on https://github.com/moztw/www.moztw.org/pull/451
thanks @hanbz

[2016-08-22 07:38] irvin commented on #447
fixed on https://github.com/moztw/www.moztw.org/pull/451
thanks @hanbz

[2016-08-22 07:38] irvin commented on #447
fixed on https://github.com/moztw/www.moztw.org/pull/451
thanks @hanbz

[2016-08-22 07:38] irvin commented on #447
fixed on https://github.com/moztw/www.moztw.org/pull/451
thanks @hanbz

[2016-08-22 07:38] irvin commented on #447
fixed on https://github.com/moztw/www.moztw.org/pull/451
thanks @hanbz

[2016-08-22 07:38] irvin commented on #447
fixed on https://github.com/moztw/www.moztw.org/pull/451
thanks @hanbz

[2016-08-22 07:38] irvin commented on #447
fixed on https://github.com/moztw/www.moztw.org/pull/451
thanks @hanbz

[2016-08-22 07:38] irvin commented on #447
fixed on https://github.com/moztw/www.moztw.org/pull/451
thanks @hanbz

[2016-08-22 07:38] irvin commented on #447
fixed on https://github.com/moztw/www.moztw.org/pull/451
thanks @hanbz

[2016-08-22 07:38] irvin commented on #447
fixed on https://github.com/moztw/www.moztw.org/pull/451
thanks @hanbz

[2016-08-22 07:38] irvin commented on #447
fixed on https://github.com/moztw/www.moztw.org/pull/451
thanks @hanbz

[2016-08-22 07:42] irvin commented on #447
fixed on https://github.com/moztw/www.moztw.org/pull/451
thanks @hanbz

[2016-08-22 07:42] irvin commented on #447
fixed on https://github.com/moztw/www.moztw.org/pull/451
thanks @hanbz

[2016-08-23 02:32] petercpg commented on #377
http://ossplanet.net/

[2016-08-23 16:08] irvin commented on #425
有 https://docs.google.com/forms/d/1eeG8Raw1kxa9zoldTmnSBsdxfZj1urDyX2Gp7WoTyRk/viewform
應該是可關了

[2016-08-23 16:42] irvin opened #452 "將 Formosa 推星星遊戲放到 /foxmosa 頁面上面"
目前推星星遊戲還沒放上 moztw.org/foxmosa
請到這邊> https://github.com/moztw/star-pusher/issues/4

[2016-08-23 18:36] irvin opened #453 "「我想要的 Web」卡片瀏覽頁"
- 從 flickr 拉「我想要的 Web」卡片的照片
- 做成翻頁介面（如 coverflow 風格）或瀑布流（mansory），讓大家可以瀏覽
- 看到自己喜歡的，可以分享該張卡片到社群網站

[2016-08-25 13:10] hanbz commented on #453
有照片的網址嗎？

[2016-08-26 04:48] irvin commented on #453
@hanbz https://www.flickr.com/groups/2985836@N23/pool/ 研究一下怎麼取？ Flickr group 至少有 RSS，不知道還有什麼其他 API 可用

[2016-08-26 04:49] irvin commented on #453
然後照片清晰度先不用管，打算全部重新掃描成卡片大小

[2016-08-28 04:08] petercpg opened #454 "設定 Content-Security-Policy"
需要產生一組 Content-Security-Policy 以避免受到 XSS 攻擊，以及其他內容資源的影響

[2016-09-02 09:15] hanbz commented on #453
flickr有api可以使用，但是需要申請金鑰，有社群公用的金鑰嗎？

[2016-09-02 09:19] hanbz commented on #446
另作新頁面？   還是直接放進 [www.moztw.org/community/](url) 這一頁中呢？

[2016-09-02 09:22] irvin commented on #453
沒有～可以先用個人的來開發，等上線時我再去請一個嗎？

[2016-09-02 09:22] irvin commented on #446
另開 /community/guildline

[2016-09-02 13:36] shangkuanlc commented on #446
Irvin好像打錯了？應該是guideline而非guildline。

2016-09-02 17:22 GMT+08:00 Irvin <notifications@github.com>:

[2016-09-02 13:52] irvin commented on #446
對對

[2016-09-09 04:21] irvin opened #455 "/community/telegram 加入 rust group 資訊"
名稱： rust.tw
Link： https://telegram.me/joinchat/BBDwKQlJjgl9qapHWrgjqQ

[2016-09-19 07:58] caasi commented on #455
已升級為 supergroup ，連結改成 https://telegram.me/rust_tw

[2016-09-28 16:42] irvin commented on #452
<img width="583" alt="2016-09-29 00 41 49" src="https://cloud.githubusercontent.com/assets/165936/18923068/951e448a-85dd-11e6-92a6-b259699e4f65.png">
@Sea-n 圖示顯示成這樣是預期的嗎？

[2016-09-28 16:43] irvin opened #458 "首頁快速連結加上 /foxmosa"

[2016-09-28 16:44] irvin opened #459 "首頁快速連結的 Webmaker 改成 Mozilla Learning Networks"
連結是 https://learning.mozilla.org/

[2016-09-29 17:12] #452 closed

[2016-09-29 17:12] irvin commented on #452
fixed!

[2016-09-30 07:32] irvin commented on #453
卡片圖檔目前都收集在這邊：
https://drive.google.com/open?id=0B9BU22m9p7kqSEgzaTJXNEI3cnM

[2016-10-05 14:31] toppy368 commented on #458
已增加pull resquests，編號#463

[2016-10-05 16:46] toppy368 commented on #382
您好，我找到了全站頁尾的檔案了，正準備要編輯，可是Repo該叫什麼名字好呢？ 超連結直接顯示"本頁的 GitHub Repo"，還是有什麼其他更推薦的名車呢？(這個社群應該GitHub Pages前就存在了吧！)

[2016-10-05 16:55] wildskyf commented on #382
「source code」 ？「本站原始碼」？

[2016-10-05 17:22] petercpg commented on #382
「協助改進本頁面」、「協助改善網站」

[2016-10-05 17:27] toppy368 commented on #382
我先暫訂這樣好了，這樣無論國內外都看得懂，也知道這是Github發布的形式「協助改進本網站 Source code form GitHub」

[2016-10-06 01:48] petercpg commented on #382
1. Source code "from" GitHub? 這英文用法很怪。
2. footer 簡潔就好，程式碼在哪裡點過來就知道了，沒有必要多提 GitHub。

[2016-10-06 03:43] irvin commented on #382
參考 mozilla.org 的標示法「Contribute to this site」，用「貢獻本網站 Source」好了，然後放在 聯絡本站的左邊

[2016-10-06 03:50] toppy368 commented on #458
阿 ! 改好之後發現連結沒增加，原本以為是快取問題，結果今天用別台電腦看一樣沒有，後來才知道我只改index2.shtml，沒改到index.html，我有空再修改+測試好了

[2016-10-06 13:17] toppy368 commented on #382
恩，了解了 ! 那就用樓上的文字連結了 !
不過還有一個小問題，關於網址的小疑問：標題上面寫指向Repo或issues都可以，若根據我的習慣，原始碼我會直接指向Repo主頁面，有Debug需求的頁面則會指向這裡(偏向貢獻頁面了)
那這個超連結我該以原始碼的Repo主頁面 ? 還是Debug用的issues呢 ?

[2016-10-06 13:37] Sea-n commented on #382
我覺得指向 Repo 比較適當
提 issue 的人相較下是少數，大多都是看看 Source Code 而已
就算是要發 issue 也可以先看看問題在哪，有能力的話直接 PR

[2016-10-07 15:31] toppy368 commented on #382
不然這樣好了，我的建議如下：
1. footer本意是放置作者群及著作權聲明，既然是全站連結，那還是放 Repo 連結比較符合本串的本意
2. issue 裏頭蒐集本網站可能有的BUG等，雖然沒那麼適合直接放在footer，但倒是與社群網頁的「
參與我們」 (位置 /contribute ) 比較接近，算是網頁貢獻的子項目，我覺得可以另開issue，看issue及推坑的方式，以及參與我們的貢獻頁面怎麼呈現比較好 ?

[2016-10-09 06:35] coin3x commented on #404
不會阿...?

[2016-10-09 12:05] #455 closed

[2016-10-09 12:18] toppy368 commented on #458
已更新，Pull requests 編號為 #467

[2016-10-09 12:49] irvin commented on #404
看起來好像不會了，先關了好了

[2016-10-09 12:49] #404 closed

[2016-10-09 15:20] Sea-n commented on #363
再找了一次，提供參考
https://gist.github.com/Sea-n/48d0c2fdc72fd518aff55348d4e6b5e5

[2016-10-16 14:11] irvin commented on #382
@toppy368 sandstone 樣式的頁尾已經上去了 > https://www-stage.moztw.org/firefox/index.shtml
首頁是另一個佈景，也需要加上去

[2016-10-16 14:12] irvin commented on #382
@petercpg stage 上面的 rebuild cache 沒效，我手動上去跑過也一樣，有空檢查看看嗎？ https://www-stage.moztw.org/firefox/

[2016-10-16 14:15] irvin opened #471 "shell script 的 rebuild cache 機制好像壞了"
https://www-stage.moztw.org/firefox/index.shtml
https://www-stage.moztw.org/firefox/index.html
shtml 的 footer 有 #382 的內容，但是 html 沒有，rebuild cache 也不會像過去自動砍掉 html 重生

[2016-10-16 14:26] petercpg commented on #382
@irvin 我沒去追到最終的問題在哪裡，但總之在 repo 裡面 git stash 清掉 *.html 之後重新產生 cache 就好了。

[2016-10-16 14:27] irvin commented on #382
這一個 issue 還沒解完，只加了 sandstone 的，先重開

[2016-10-16 14:27] irvin commented on #471
https://github.com/moztw/www.moztw.org/issues/382#issuecomment-254050020

[2016-10-16 14:30] petercpg commented on #471
這張票應該開在 https://github.com/moztw/base 才對。你看到有新進來的內容是我正好砍掉舊的 index.html 在找問題。

初步看起來是不知道為什麼處理從 shtml 產生 html 檔案的 https://github.com/moztw/base/blob/master/autoupdate/cacheshtml.sh 這隻檔按認為 shtml 檔沒有變動不需要更新，也無法強制更新。

[2016-10-16 14:49] toppy368 commented on #382
很怪的地方是，index2.shtml 最底下123行寫者
``
但前幾天開發時去檢查index2.shtml 檔案 (有開SSI的狀態) ，無法看到頁底(直接消失看不到)
正式版首頁的footer看起來也跟我中午改的檔案不同，所以看不出是哪一個檔案 ?

[2016-10-16 15:02] irvin commented on #382
舊版佈景用的是這一個：
https://github.com/moztw/www.moztw.org/blob/master/index.shtml#L295

[2016-10-22 16:29] bootleq commented on #382
已經在 PR #472 解決，應該可以上線了。

[2016-10-23 06:29] irvin commented on #382
pushed to production

[2016-10-23 06:29] irvin commented on #382
resolved fixed, thanks!

[2016-10-23 06:29] #382 closed

[2016-10-23 06:37] irvin opened #473 "firefox release notes 頁的 og:url 錯了，缺 og:img & meta:description"

[2016-10-23 06:43] irvin commented on #473
想想 url 放 /release/ 好像也沒錯，只改另外兩個問題
og:img 放 icon 圖片太小，從總站取來新的版本

[2016-10-23 07:16] irvin commented on #471
讓機器不用每次組靜態頁面，所以就是 cache

[2016-10-23 07:35] kidwm commented on #471
這應該有方法可以讓 Apache 設定 ssi cache 吧

[2016-10-26 16:56] #434 closed

[2016-10-29 07:11] coin3x commented on #335
Fixed by e1389e87a0e40d4ab7e21c6be6212e55976a3fa1

[2016-10-29 08:02] #335 closed

[2016-10-29 08:09] #283 closed

[2016-10-29 08:12] #417 closed

[2016-10-29 08:32] coin3x commented on #186
可是 沒辦法 nested include 欸
這沒辦法做到吧

[2016-10-30 04:48] irvin commented on #473
ref https://github.com/moztw/www.moztw.org/commit/f9bdf2dce572df26110ff74b04b8bc36b63ae736

[2016-10-30 04:57] irvin commented on #471
https://httpd.apache.org/docs/2.2/caching.html 或許是可以，看誰能研究一下

[2016-11-02 04:23] irvin opened #480 "製作 2016 上半年「台師大資訊社服務學習成果頁面」"
參考過去的成果彙整頁面： http://moztw.org/events/service2014-2/
網址放： http://moztw.org/events/service2016-1/
成果列表在此：

暱稱 / ID	項目
Yuan
Amara 字幕聽打 / 翻譯
https://www.amara.org/en/profiles/profile/534341/

1. [English subtitle] Contributor Story - Orabile Mudongo  http://amara.org/en/videos/PBtBn60cvltb/en/1282127/
2. [English subtitle] Contributor Story - Candy Tricia Khohliwe   https://www.amara.org/en/videos/cmI

[2016-11-03 03:11] #377 closed

[2016-11-03 04:27] irvin commented on #302
@a0919610611 抱歉上面網址有錯，要連結到下面這個唯獨的網址，可以再改一下嗎？
https://public.etherpad-mozilla.org/p/r.04009f653dd91d3fe7faede39eb75b12

[2016-11-03 04:38] irvin opened #484 "將所有 embed 的 youtube 影片 embed code 換成隱私加強保護模式"
要啟動隱私權加強保護模式，不然 youtube 會記錄路過頁面的用戶資訊：
https://support.google.com/youtube/answer/171780?expand=PrivacyEnhancedMode#privacy

所有的 iframe youtube.com embed code，例如：
`<iframe src="https://www.youtube.com/embed/Z7sv7JMMCBI?list=PLC5649BCA6BF1F17F" frameborder="0" allowfullscreen></iframe>`

url domain 都要換成：
`<iframe src="https://www.youtube-nocookie.com/embed/Z7sv7JMMCBI?list=PLC5649BCA6BF1F17F" framebo

[2016-11-03 04:43] irvin commented on #473
confirmed fixed in #f9bdf2d

[2016-11-03 04:43] #473 closed

[2016-11-03 04:45] irvin commented on #471
force rebuild 在這邊修好了，https://github.com/moztw/base/commit/0e28b3407f0abe1794b99fa78407c5e72508e201
但是一般的比對檔案日期的更新模式，應該還是不會動

[2016-11-03 04:46] irvin commented on #390
fixed in https://github.com/moztw/www.moztw.org/issues/447

[2016-11-03 04:46] #390 closed

[2016-11-03 06:05] #302 closed

[2016-11-03 06:12] irvin commented on #471
https://github.com/moztw/www.moztw.org/settings/hooks/1280914#delivery-response 看最新的 master 的 github hook 好像是好的，然後 rebuild 也好了，先 close

[2016-11-03 06:12] #471 closed

[2016-11-03 06:21] BlueT commented on #377
:+1

[2016-11-14 02:13] ArvinH commented on #453
Hi, 想請問 Moztw 有沒有一些類似 design guide 的規範？

[2016-11-14 02:58] irvin commented on #453
網頁上累積到目前有兩三種樣式，新的樣式基本上是跟著這邊做： https://www.mozilla.org/en-US/styleguide/websites/sandstone/

[2016-11-15 13:07] irvin opened #490 "更換 /telegram moztw 頻道的連結"
這兩天 spammer 出現了

[2016-11-15 13:15] irvin commented on #304
@a0919610611 因為內容不太多，麻煩改用「小顆按鈕」的樣式～

[2016-11-15 13:18] irvin opened #491 "年底募款把首頁指向 /donate"
差點忘了有這一頁，先前曾經推過，今年要記得推

[2016-11-15 13:18] irvin opened #492 "將 /donate 的連結放上首頁"
一樣先塞右下角快速連結，讓大家常態可找到捐款頁
先放倒數第二項，連結內容「捐款贊助 Mozilla」，連結到「/donate」

[2016-11-15 13:21] irvin commented on #490
close with 9416bfc78f9c03ce492f462eb1cf225525a8c01d

[2016-11-15 13:21] #490 closed

[2016-11-15 13:21] irvin commented on #484
@a0919610611 thanks!

[2016-11-15 13:22] #484 closed

[2016-11-15 13:30] #303 closed

[2016-11-15 13:30] irvin commented on #303
thanks

[2016-11-15 13:31] irvin opened #493 "活動頁加上 2016 HKOSC"
連結到： http://irvin.sto.tw/2016/08/tw-mozillians-in-hkoscon.html
圖片請抓這一張： https://www.flickr.com/photos/othree/27648627840/in/album-72157670191844396/
請用小顆的按鈕～

[2016-11-15 13:45] irvin opened #494 "活動頁加上慶祝 Firefox 12 歲生日"
請用小顆的按鈕，連結到 https://www.flickr.com/search/?group_id=774566%40N20&min_taken_date=1478793600&max_taken_date=1478879999&view_all=1
並從裡面抓一張適合的照片做底圖

[2016-11-15 13:47] irvin opened #495 "活動頁加上 MozFest 連線派對"
連結 https://blog.mozilla.org/community/2016/12/20/mozilla-festival-2016-in-asia/
照片請從下面找一張～
https://www.flickr.com/search/?group_id=774566%40N20&view_all=1&min_taken_date=1477670400&max_taken_date=1477756799

[2016-11-16 04:04] irvin opened #496 "補上 Firefox 50 release notes"
@bootleq 這幾天沒辦法用電腦，誰有空可以搶先幫忙做一下 release notes

[2016-11-21 12:30] bootleq commented on #496
讓我來吧～

[2016-11-21 12:30] #496 closed

[2016-12-01 08:19] irvin commented on #492
@calee0219 這邊放錯了，目前放到 footer 去了，請把他放到首頁右下角的「快速捷徑」去

[2016-12-01 08:21] irvin commented on #162
https://github.com/moztw/www.moztw.org/pull/498

[2016-12-01 08:22] irvin commented on #162
目前 https://github.com/moztw/www.moztw.org/pull/498 的更新放的是 reviewer 姓名，需要把名稱換成貢獻者，但是總表裡面沒有整理出來，需要去個別項目中查詢

[2016-12-01 08:23] irvin commented on #494
fixed, thanks!

[2016-12-01 08:24] #494 closed

[2016-12-01 08:24] irvin commented on #493
fixed, thanks

[2016-12-01 08:24] #493 closed

[2016-12-02 02:06] toppy368 commented on #491
請問是這一頁嗎 ?
https://donate.mozilla.org/zh-TW/?locale=en&utm_campaign=EOY2016

[2016-12-02 02:10] irvin commented on #491
https://donate.mozilla.org/zh-TW/?utm_campaign=EOY2016

[2016-12-02 02:21] toppy368 commented on #458
先前的Pull requests #463 忘了張貼上來，現在首頁已顯示出此連結

[2016-12-02 03:15] irvin commented on #458
cool

[2016-12-02 03:15] #458 closed

[2016-12-02 04:27] toppy368 opened #500 "討論將 Github 的專案懶人包"好坑，不跳嗎"放到"參與我們"頁面 ?"
先前填坑把 Issues 放到首頁底下時，我突然覺得另一個專案"好坑，不跳嗎"的懶人包很符合社群官網的"參與我們"頁面，在想要討論，要整合在裡面嗎 ? 還是增加一個小DIV區域放置這個專案資訊 ?

若是整合到參與我們頁面，可以讓新手更容易知道專案的相關訊息，不過整頁更新會是大工程，所以增加此ISSUES，大家有空可以找個時間討論一下(或在此頁面討論也行)，看哪種方式可以讓新手更容易取得參與專案入坑的訊息 ?

[2016-12-04 16:24] wildskyf commented on #262
台灣版頁面是哪一頁？

[2016-12-04 16:27] wildskyf opened #502 "首頁有部分 CSS 被註解起來的用意？"
https://github.com/moztw/www.moztw.org/blob/master/index.shtml#L8-L181

如果要不用的話應該要直接刪掉？（畢竟有 VSC 呀）

[2016-12-04 16:38] irvin commented on #262
/firefox/tw

[2016-12-04 16:39] wildskyf commented on #262
好，這個我有空來做好了

[2016-12-04 17:14] irvin commented on #262
警語的樣式可以參考目前 wiki 上面的那樣

[2016-12-05 00:55] petercpg commented on #502
那個不是註解喔，CSS 註解是 /* */。我猜是某個古早時代為了避免瀏覽器看不懂 CSS 而讓他 fallback 成註解的 dirty hack... 你把整組 style 拆掉就會發現版面爛了 XD

倒是第 8 行跟第 181 行的  可以拿掉。

[2016-12-05 00:56] petercpg commented on #502
blame 一下 @irvin  XD

[2016-12-05 04:14] irvin commented on #502
這是本頁的樣式沒錯

[2016-12-05 04:14] #502 closed

[2016-12-06 09:36] irvin commented on #492
thanks!

[2016-12-06 09:36] #492 closed

[2016-12-10 01:06] #240 closed

[2016-12-10 01:14] petercpg opened #505 "Migrate old amara & universalsubtitle embed codes"
Refer to https://github.com/moztw/www.moztw.org/commit/5cfd1d1a15b9ca9ced72e2924158f739f004f205 for the new embed codes

[2016-12-10 07:26] petercpg commented on #505
新的 embedder 有些影片字幕還是會修出來，不知道是什麼原因還要再看一下。

[2016-12-21 12:22] irvin commented on #176
@wildskyf ^

[2016-12-25 10:29] wildskyf commented on #176
這邊應該要是什麼？？

[2016-12-25 10:33] wildskyf commented on #176
噢，我懂了，他應該不能有版號？

[2016-12-25 11:59] wildskyf commented on #172
這樣小莎講別的話的時候下面的 Dom 也會亂移動？
還是你希望 min-height = heightest children dom's height？

[2016-12-25 12:43] wildskyf commented on #172
因為怕頁面一直跳來跳去的，所以我直接計算 child 的最大高來決定那一塊的高度，大概會像這樣，
全滿的時候很ＯＫ，但字很少的時候有點空虛

![2016-12-25 20 39 10](https://cloud.githubusercontent.com/assets/6042803/21471143/402ddc8e-cae2-11e6-9b13-5951e3117e90.png)
![2016-12-25 20 38 54](https://cloud.githubusercontent.com/assets/6042803/21471144/402e467e-cae2-11e6-8792-f90e089772f4.png)

另外一種方式是不要水平置中，感覺更空虛了⋯⋯
![2016-12-25 20 42 08](https://cloud.githubusercontent.

[2016-12-25 12:55] wildskyf commented on #172
目前開的 PR #509 是有 padding 的版本

[2017-01-02 13:44] irvin commented on #480
成果列表整理好了，有興趣的人可開工製作頁面了

[2017-01-02 13:46] irvin commented on #176
cool, fixed!

[2017-01-02 13:46] #176 closed

[2017-01-30 15:07] petercpg opened #514 "Google Feed API Deprecated"
所以首頁的摩茲星球 RSS Feed 壞掉了。

現在去開
https://ajax.googleapis.com/ajax/services/feed/load?v=1.0&q=https://planet.moztw.org/atom.xml 會噴 403，或許可以改用 YQL?

https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20atom%20where%20url%20%3D%20'http%3A%2F%2Fplanet.moztw.org%2Fatom.xml'&format=json&diagnostics=true&callback=

[2017-01-30 16:59] #514 closed

[2017-02-15 14:22] irvin opened #516 "替換網站上的舊版 Firefox 圖示"
例如下面這三頁的 Firefox 圖示也太舊了吧⋯⋯
http://moztw.org/firefox/download/latest-osx.html
http://moztw.org/firefox/download/latest-win.html
http://moztw.org/firefox/download/latest-linux.html
要另外找找還有哪些地方用到舊圖示。

[2017-02-21 08:25] irvin opened #517 "活動頁加入匯流法討論會"
Link - https://discourse.mozilla-community.org/t/the-discussion-workshop-of-draft-convergence-acts-in-taiwan/13683/
圖片 - 請從照片中選一張  https://www.flickr.com/photos/tags/moztwconvergenceacts
用「大」的格式

[2017-02-21 10:50] irvin opened #518 "2014 服務學習頁面 貢獻者姓名有錯"
http://moztw.org/events/service2014-1/ 裡面的貢獻者姓名錯放成編輯人的姓名了，需要更正回來
ref https://github.com/moztw/www.moztw.org/issues/162

[2017-02-21 10:52] irvin commented on #441
thanks

[2017-02-21 10:52] #441 closed

[2017-02-21 11:01] irvin commented on #186
終於可以關掉了！感謝 @coin3x

[2017-02-21 11:01] #186 closed

[2017-02-21 11:03] irvin commented on #131
duplicated #262

[2017-02-21 11:03] #131 closed

[2017-02-21 11:05] irvin commented on #100
一直沒有 close

[2017-02-21 11:05] #100 closed

[2017-02-21 11:07] irvin opened #519 "移除工寮頁面上的 sensorweb"
moztw.org/space 頁面最下方的 sensorweb 已經死了，要把所有相關的 code 跟敘述拿掉

[2017-02-21 11:08] irvin commented on #491
居然 duplicate #116

[2017-02-21 11:08] #491 closed

[2017-02-21 11:08] irvin commented on #66
台灣版已經終止了

[2017-02-21 11:08] #66 closed

[2017-02-22 03:28] irvin opened #520 "製作 2016-Q3 交大服務學習成果頁面 (尚待整理)"
參考過去的成果彙整頁面： http://moztw.org/events/service2014-2/
網址放： http://moztw.org/events/service2016-2/
成果列表在此：
https://docs.google.com/spreadsheets/d/1QGnZ2MTjaQIXJ0S0XOEWsrGCRw8QI0pbOepMVCP_vIw/edit#gid=0

目前還需要整理已經發布的作品網址進來

[2017-03-01 02:57] bobchao commented on #426
啊這我一陣子前大致做完了耶，沒注意到這邊有 issue，檢視一下？
http://folder.moztw.org/moztw-space

[2017-03-01 02:58] bobchao commented on #426
先給大光檢視一下看哪裡要加強

[2017-03-01 02:59] bobchao commented on #384
之前開 form 幹掉了

[2017-03-01 02:59] #384 closed

[2017-03-01 02:59] #425 closed

[2017-03-01 03:01] bobchao commented on #156
這我先前做完啦，看 @irvin 是不是有別的需求。
目前為了增加豐富性不是只抓最新而是會 random 一下

[2017-03-01 03:03] bobchao opened #521 "space 網頁加上合作夥伴區"
需要有一區放合作夥伴 logo，預計至少要保留十個合作夥伴的空間，介面最差就一字排開、最好則還可另外提議。有需要人討論可找我

[2017-03-01 03:04] bobchao opened #522 "space 網頁移除 SensorWeb 區"
Dead project, 沒辦法, 掰。

![2017-03-01 11 08 12](https://cloud.githubusercontent.com/assets/168931/23444350/82eefd1c-fe6f-11e6-8c48-9f0dd452ebbc.png)

基本只是要從 https://moztw.org/space/ 刪除這區而已，非常歡迎想要「第一次使用 git 就上手」的人撿去做

[2017-03-01 03:07] othree commented on #521
可能先定個 logo size，排列其實就用 flex 或 inline box

Sample: <http://summit.g0v.tw/2016/#sponsors>

[2017-03-01 03:11] bobchao commented on #521
喔有範例的話... style 跟 logo size 直接照抄就好無妨 XD 歡迎拾荒

[2017-03-01 04:16] irvin commented on #426
你是全都搬了還是只有搬工寮相關的？

[2017-03-01 04:17] irvin commented on #426
喔我看到標題有 [space] 了

[2017-03-01 06:47] petercpg commented on #426
看起來沒問題了，不過有些死連結跟過時資訊看要不要修掉?不用的話可以直接關掉這個 bug 了

- badges 都死掉了
- 週邊餐點商家資訊還是 CLBC 那邊的

[2017-03-01 08:13] bobchao commented on #519
這張沒標記到 space 所以我重複開了，另一張已經提供了更完整的資訊所以關這張

https://github.com/moztw/www.moztw.org/issues/522

[2017-03-01 08:13] #519 closed

[2017-03-01 08:25] #156 closed

[2017-03-01 08:32] bobchao commented on #426
badge 拿掉了，周邊商家那邊多開了一頁大家有興趣再加光華這邊的，關票

[2017-03-01 08:32] #426 closed

[2017-03-09 09:35] timdream opened #523 "擴充套件票選頁面更新或是下架"
https://moztw.org/firefox/extension_top_15/

畢竟 Fx57 就要關 XUL add-on 了，另外 about:addons 現在也有一些 discovery 的功能，看要不要考慮下架這個網頁。

[2017-03-09 10:17] irvin commented on #523
連結改放到活動頁作為存檔吧

[2017-03-09 10:18] irvin commented on #523
票選頁面上面可能多掛一個 banner 指到 AMO

[2017-04-02 11:58] wildskyf opened #525 "手機版 twoffice 破版"
見附圖
![tmp_21767-screenshot_20170402-1950341302857950](https://cloud.githubusercontent.com/assets/6042803/24586930/b1419520-17de-11e7-92d9-0fade78d71a0.png)

[2017-04-04 15:24] Rplus commented on #525
幫補 link:
http://moztw.org/twoffice/

[2017-04-04 15:25] wildskyf commented on #525
R+ 貼心！

[2017-04-04 15:44] Rplus commented on #525
上下兩塊

https://github.com/moztw/www.moztw.org/blob/840097ec22b80dac81a04b510b0ada3b1bed041b/twoffice/twoffice.css#L43
上面那塊為了背景留的空白加上的 `width: 610px`
懶得調可以直接改成 `max-width: 610px`

https://github.com/moztw/www.moztw.org/blob/840097e/twoffice/index.shtml#L35
主要把這個 `sw` 寬度要改成 `auto` 就好了
不過上層 CSS 的 media query 也是要處理一下才是
有個 float 會破版

104 的資料直接用 `output()` 會有很多不必要的 code
有時間可以簡單地用 `b.jobdata.data` 生

ref:

[2017-05-05 03:17] #522 closed

[2017-05-05 03:19] irvin opened #528 "更換 moztw 網頁上嵌入的線上表單"
ref https://github.com/moztw/contribute-reply-letters/issues/14

moztw.org/contribute
https://github.com/moztw/www.moztw.org/blob/master/contribute/index.shtml
這一頁的表單是舊的，要更新成下面的 form:
[code]

[2017-05-06 04:44] irvin commented on #516
@eugene87222 可以幫忙查查看還有哪些頁面有用到舊圖示嗎？

[2017-05-06 04:59] eugene87222 commented on #516
https://moztw.org/  手機螢幕上是舊icon
https://moztw.org/mobile/  版本資訊那邊
目前找到這兩個地方

[2017-05-06 16:26] #172 closed

[2017-05-07 05:28] #525 closed

[2017-05-07 11:18] irvin commented on #525
目前下面的內容不會破版了！
但是從 width > 500 開始到 < 960 時 RWD 是無效的。

[2017-05-07 11:19] irvin opened #533 "/twoffice 在某些寬度之下 RWD 失效"
從 width > 500 開始到 < 960 時 RWD 是無效的。
ref #525 #526

[2017-05-07 11:43] irvin opened #534 "加入我們頁面內詳細資訊連結修正"
http://moztw.dev/contribute/
「依興趣檢視」下方各項目的「詳細資訊」，都要改指到這邊對應的文件：
https://github.com/moztw/contribute-reply-letters/tree/master/emails

[2017-05-07 11:49] irvin commented on #516
太好惹，如果還有發現再重開 issue 吧！

[2017-05-07 11:49] #516 closed

[2017-05-10 01:27] eugene87222 commented on #197
這樣排版OK嗎
我有先測過自己看覺得還可以

[2017-05-23 18:26] irvin commented on #197
好一些了！

[2017-05-23 18:27] irvin opened #540 "下載總頁在某個寬度之下 RWD 會爛掉"
https://moztw.org/dl/
螢幕縮小到某個寬度之下會跑版
<img width="542" alt="2017-05-24 02 26 27" src="https://cloud.githubusercontent.com/assets/165936/26369843/801344ae-4028-11e7-9602-49d39758a35a.png">

[2017-05-23 18:49] irvin commented on #517
thanks!

[2017-05-23 18:49] #517 closed

[2017-05-23 18:49] irvin commented on #495
thanks!

[2017-05-23 18:49] #495 closed

[2017-05-23 18:50] irvin commented on #197
@eugene87222 thanks!
#540 有空也可研究一下

[2017-05-23 18:50] #197 closed

[2017-06-03 11:27] irvin commented on #540
fixed by #544

[2017-06-03 11:27] #540 closed

[2017-06-03 11:38] irvin commented on #480
@smid191394 可以幫忙也把頁面放到 moztw.org/events 去嗎？ 參照 2014 跟 2016 中間那個連結放就行了，位置在 2015/12 上面那一排第一個

[2017-06-07 17:22] irvin commented on #480
1. 活動頁標題更正為

2. 敘述請幫忙修改

改成

[2017-06-07 17:23] irvin commented on #480
@wildskyf 能幫忙找一下你們學校 Logo 或社徽嗎？

[2017-06-07 17:27] wildskyf commented on #480
這個行嗎？

https://github.com/NTNUCIC

2017年6月8日 上午1:23，"Irvin" <notifications@github.com>寫道：

[2017-06-07 17:28] irvin commented on #480
@wildskyf 需要 Logo 圖片啦

[2017-06-07 17:34] scott987 commented on #480
社徽：[](https://github.com/NTNUCIC/NTNUCIC.github.io/blob/master/assets/images/icon.svg)

[2017-06-14 05:29] wildskyf opened #547 "在 node 下 download 不會 work"
cc. @kidwm

[2017-06-14 05:30] kidwm commented on #547
這只能讓你測試版面，是怎樣不 work?

[2017-06-14 06:10] wildskyf commented on #547
原來只能版面，我還以為可以取代阿帕契，在那邊跟 Irvin 推薦XD

2017年6月14日 下午1:30，"Chen-Heng Chang" <notifications@github.com>寫道：

[2017-06-22 15:20] eugene87222 commented on #342
這樣還可以嗎@@
感覺怪怪的

[2017-06-23 02:44] wildskyf commented on #342
@eugene87222  建議上個截圖

[2017-06-23 03:03] eugene87222 commented on #342
![fox](https://user-images.githubusercontent.com/24380544/27465058-9c05e764-5803-11e7-9b5f-169c2a6a15b9.JPG)

[2017-06-23 03:08] irvin commented on #342
@eugene87222
ano... 陰影可以不用是紫色，那是示意而已XD
試試看不同深度的黑色調調看吧～

[2017-06-23 08:03] wildskyf commented on #342
試試看 rgba(0,0,0,0.5) 把 0.5 調成 0~1  之間你覺得看起來最好的數字ＸＤ

[2017-06-23 12:23] eugene87222 commented on #342
![fox](https://user-images.githubusercontent.com/24380544/27481924-d0af950c-5851-11e7-9814-eb459b62ff69.JPG)
這樣會太淡嗎

[2017-06-23 12:55] irvin commented on #342
![2017-06-23 20 40 01](https://user-images.githubusercontent.com/165936/27482999-2ae480ba-5856-11e7-8b4b-8a501b307670.png)
參考看看這個方向？

[2017-06-23 13:19] eugene87222 commented on #342
![fox](https://user-images.githubusercontent.com/24380544/27483849-917f6d46-5859-11e7-98f0-08b597e7a4da.JPG)
像這樣嗎?

[2017-06-23 13:56] irvin commented on #342
再淡一點點就 ok 了！讓他不會這麼硬

[2017-06-23 14:11] eugene87222 commented on #342
![default](https://user-images.githubusercontent.com/24380544/27485833-edf80482-5860-11e7-8484-efeebd2b46cd.JPG)
調整了~~~

[2017-06-25 12:38] irvin commented on #342
thanks!

[2017-06-25 12:38] #342 closed

[2017-06-25 12:43] irvin opened #549 "/space 頁面下方的 keyholder avatar 失效"
直連到 mozillians 的都叉燒包了，需要抓檔案下來放自己這邊

<img width="1087" alt="2017-06-25 20 40 00" src="https://user-images.githubusercontent.com/165936/27516162-d4880f92-59e6-11e7-93aa-37ef0c7807b3.png">

[2017-06-25 12:44] irvin opened #550 "/foxmosa 頁面在 safari 上 RWD 右邊會爆掉"
![2017-06-25 20 39 08](https://user-images.githubusercontent.com/165936/27516170-017913b6-59e7-11e7-8de1-03cd7c924055.png)
moztw.org/foxmosa ，Firefox 上不會，不知道是什麼問題

[2017-06-25 12:51] irvin commented on #480
merged. thanks.

[2017-06-25 12:57] irvin commented on #480
@scott987 這樣擺起來好看嗎，你們自個調調看？

<img width="1016" alt="2017-06-25 20 56 52" src="https://user-images.githubusercontent.com/165936/27516250-de88bd82-59e8-11e7-8bd5-46514a253a33.png">

[2017-06-25 12:57] #480 closed

[2017-06-25 17:59] scott987 commented on #480
我覺得沒問題!

[2017-07-06 10:42] iigmir commented on #549
問題似乎可以透過把 `<img>` 的 `src` 屬性由 `//mozillians.org/media` 取代為 `//media.mozillians.org` 解決。不過問下，要修改網頁都是直接從 [index.shtml](https://github.com/moztw/www.moztw.org/blob/master/space/index.shtml) 手動改嗎？
![screenshot from 2017-07-06 18-40-05](https://user-images.githubusercontent.com/11061770/27907584-d026190c-627a-11e7-9641-fb63038f090b.png)

[2017-07-06 11:26] irvin commented on #549
@iigmir 對對，請直接改 index.shtml 就可

[2017-07-06 11:28] irvin commented on #549
因為 Mozillians 最近正在轉雲端機器，看來他們把圖片上CDN 了

[2017-07-06 12:32] irvin commented on #549
fixed, thanks.

[2017-07-22 10:22] irvin opened #553 "將 ocf 掛上工寮網站，標示為合作單位"
在工寮的網站「關於摩茲工寮」上方增加「合作單位」，下面放上 OCF 的圖示，並連結到 http://ocf.tw

圖示請自下面圖片選擇其一：

[ocf-logo-svg.zip](https://github.com/moztw/www.moztw.org/files/1167277/ocf-logo-svg.zip)

下面是 svg 轉 pdf：

![ocf 3-150ppi](https://user-images.githubusercontent.com/165936/28490357-ae0614c0-6f0a-11e7-8369-1657fe48f866.png)
![ocf 2-150ppi](https://user-images.githubusercontent.com/165936/28490358-ae5fb9bc-6f0a-11e7-9585-7c3e98

[2017-07-22 10:23] irvin commented on #553
@bobchao 看一下上面規格有沒有問題？

[2017-07-23 08:49] irvin opened #554 "首頁的 highlight download 目前失效中"
JS 有錯誤
<img width="1235" alt="2017-07-23 16 44 22" src="https://user-images.githubusercontent.com/165936/28497989-cad5a216-6fc6-11e7-9ac7-8d43e62c9dd6.png">

regression >  https://github.com/moztw/www.moztw.org/commit/68b5dd02deabd0c18089271e7b1d08dc3d99dc43

[2017-07-23 08:49] irvin commented on #554
@coin3x 能修看看嗎？

[2017-07-23 08:56] irvin commented on #554
看起來問題有點複雜，我先修看看

[2017-07-23 09:59] irvin commented on #554
fixed with https://github.com/moztw/www.moztw.org/commit/4bc0235d60c551f01fff54523950e0b666643b52

[2017-07-23 09:59] #554 closed

[2017-08-02 17:50] irvin opened #556 "/contribute 在網誌包含某些 #hashtag 時應該自動切換到對應頁面"
目前 moztw.org/conntribute 有「依興趣檢視」、「依程式語言」、「留下資料」
應該搭配特定網址，讓本頁面開啟時可以直接點開某一個 tab
eg.,
https://moztw.org/contribute/#interest > 興趣檢視
https://moztw.org/contribute/#program > 依程式語言
https://moztw.org/contribute/#form > 留下資料

[2017-08-03 13:43] irvin opened #557 "css grid demo 用字修正"
http://www-stage.moztw.org/demo/css-grid/

把 https://github.com/moztw/www.moztw.org/pull/530#issuecomment-299624490 拉出來成 issue

@petercpg :
[code]

[2017-08-03 13:45] irvin commented on #557
@iigmir 有興趣再把這兩點修掉嗎？

[2017-08-05 09:42] #557 closed

[2017-08-07 09:08] gasolin opened #559 "onboarding message 排版問題"
Nightly 上的中文 onboarding message 看起來多了個句點，因為那個句點就變三行了

![Imgur](http://i.imgur.com/mxwsBpb.png)

用 inspector 把句點移掉看起來就變正常

[2017-08-07 13:11] bobchao commented on #559
有句點是正確的…可能看看要不要為了排版修一下句子，但可以的話應保留句點才是？

[2017-08-08 16:34] petercpg commented on #559
感謝回報，不過這個問題跟 www.moztw.org 的 repo 好像沒有關係：
1. 原文是 "New to %S? Let’s get started."，有句點是對的。
2. 我先改成「新安裝 %S 嗎？一起開始使用吧。」，要開新 profile 才會出現實在太難測....

[2017-08-08 16:34] #559 closed

[2017-08-11 12:36] #556 closed

[2017-08-11 13:25] irvin commented on #341
fixed, great!

[2017-08-11 13:25] #341 closed

[2017-08-11 13:29] irvin commented on #528
fixed by #555

[2017-08-11 13:29] #528 closed

[2017-08-11 13:30] irvin commented on #500
需要把 http://github.com/moztw/_good-holes-to-jump/issues/ 放到 moztw.org/contribute 下面

[2017-08-11 13:32] irvin opened #564 "規劃 focus 在網站上的行銷方式"

[2017-08-11 13:32] irvin opened #565 "將首頁 feature block 換成 focus"
可以把大圖跟連結換成 focus 相關內容，集中強力行銷幾個月

[2017-08-12 11:37] #336 closed

[2017-09-02 10:50] irvin commented on #521
ref #553

[2017-09-14 10:07] irvin opened #568 "/space 頁面下方的 keyholder avatar 比例錯誤"
ref #549, PR #567 把圖片補回來了，可是圖片比例不正確
要改成讓他自動填滿

[2017-09-14 10:07] #549 closed

[2017-09-14 16:50] robertmodesty commented on #568
這是因為 css/mozspacetp.css 會依照圖片的長寬比決定顯示的橢圓形範圍長寬，解決方法兩個，第一是改 css，第二是把新的圖片裁切成正方形圖片。第一種方法比較簡單，但是會拉伸圖片，使得人像變胖或變瘦長。第二種方法比較沒有變通性，要改好幾張圖片，但是可以調得比較好看。

[2017-09-14 18:12] irvin commented on #568
直接改 html 結構讓圖片變成上層 a 容器的背景也行，就會自動等比例填滿。

[2017-09-15 13:42] robertmodesty commented on #568
填滿的方法會讓 bob 跟極地狐都變胖，考慮之後我還是直接把圖片切成正方形就好。請見 #569 。

[2017-09-16 12:07] wildskyf commented on #547
那就關掉了

[2017-09-16 12:07] #547 closed

[2017-10-12 14:22] irvin opened #570 "videos.cdn.mozilla.org 移除事宜"
收到通知 videos*.mozilla.(org|net) 要關掉了，現在站上有用到以下部分要處理：

<img width="965" alt="2017-10-12 22 21 54" src="https://user-images.githubusercontent.com/165936/31501051-c4ad82c2-af9b-11e7-8b00-4c5abd06f066.png">

[2017-10-12 14:42] #570 closed

[2017-11-11 13:40] cliff75426 commented on #534
http://moztw.dev/contribute/
上面的網址  連不進去

[2017-11-11 13:42] wildskyf commented on #534
irvin 忘記改了XD

@cliff75426 你的 local 的 port 應該是開 3000，所以 moztw.dev 改成 localhost:3000

[2017-11-15 19:04] irvin opened #579 "首頁 featuring Firefox Quantum"

[2017-11-15 19:05] irvin opened #580 "首頁標題圖像改版"
換成高畫質一點的版本，文字與英文位置調整，顏色調整，讓他更協調

[2017-11-15 19:12] irvin opened #581 "Firefox Logo 更新"
網站上所有 Logo 都要換成最新版，
iOS & Android Logo 也要更新喔（可以去各自的商店抓）

下載位置：http://design.firefox.com/photon/visuals/product-identity-assets.html

![firefox-logo](https://user-images.githubusercontent.com/165936/32855137-e2e86090-ca7b-11e7-9e50-3c206f1b625d.png)

[2017-11-15 19:12] irvin opened #582 "/firefox 內容更新"
/firefox 內容最後更新是在 4.0 時代了⋯⋯
可以從 mozilla.org/firefox 挖過來用。

[2017-11-15 19:13] #579 closed

[2017-11-15 19:14] irvin commented on #581
iOS & Android Logo 也要更新喔（可以去各自的商店抓）

[2017-11-15 19:24] irvin opened #583 "把社群頻道連結放上首頁"
facebook: http://facebook.com/MozTW/
Youtube: http://youtube.com/moztw
Telegram: moztw.org/tg

[2017-11-19 12:39] Akanyan commented on #580
[Ver.004_20171119.zip](https://github.com/moztw/www.moztw.org/files/1485525/Ver.004_20171119.zip)
根據 @mingtsay, @irvin, @robertmodesty 等人的意見做出這個版本：
- 重新設計了文字與恐龍。
- 調整了恐龍與窗戶的位置來讓他看起來像是從窗戶探出頭來。
- 重新挑選了顏色配色。

[2017-11-19 13:28] irvin commented on #580
@Akanyan 直接把換上去的示意圖傳上來，方便大家看？

[2017-11-19 14:17] mingtsay commented on #580
@irvin 我有說可以丟截圖，她說她不知道要丟什麼截圖，所以就沒有放上來了。
下圖是我用以下的 CSS 塞上去的：
[code]
<img width="1167" alt="2017-11-19 22 15 22" src="https://user-images.githubusercontent.com/760655/32991477-56a55878-cd77-11e7-9714-4ebe4b920813.png">

[2017-11-20 17:26] Akanyan commented on #580
這次依照原本樣式製作，除此之外只有更改了文字、光線及陰影。
另外我自己做的版本也參照舊的樣式修改，做了兩個版本出來：
- 修改"Mozilla台灣社群"文字大小
- 設計了兩種窗戶顏色

![2017-11-21 00 11 29](https://user-images.githubusercontent.com/26409217/33031885-7f4cf78e-ce5a-11e7-86a6-45517393d0c1.png)
![2017-11-21 01 11 32](https://user-images.githubusercontent.com/26409217/33031905-905f0472-ce5a-11e7-828d-ec3894eb3a95.png)
![2017-11-21 01 14 32](https://user-images.githubusercon

[2017-11-20 17:46] irvin commented on #580
@Akanyan 這次的恐龍跟窗戶部分很不錯，有白邊的字還是塞得太滿了（不是太白對比太高，就是太粗讓字感覺超出窗戶上下緣了）
不過第一件那個古老的文字藝術師風格的反光也不好XD

[2017-11-21 02:04] othree commented on #580
恐龍的白邊和文字的白邊感覺不同顏色？
另外確認一下應該會有支援高解析度吧XD

Irvin <notifications@github.com> 於 2017年11月21日 上午1:46 寫道：

--
OOO

[2017-11-23 18:04] Akanyan commented on #580
@othree 對，有點不同，恐龍白邊是有點偏綠的白，文字是有點偏橘的白
我是用ai做的，之後的成品是ai檔跟svg(只是因為我不會放svg上去所以只好先放png預覽)
@irvin ai沒有古老版本的反光樣式(只有線性跟放射狀)，所以只能自己手動拉相近樣式的QQ"

這次改版了：
-更改古老版本反光效果，只能做線性跟放射狀，目前使用線性，如果有更好的建議歡迎提出。
-白邊版本稍微縮小白邊寬度以及文字大小。

![2](https://user-images.githubusercontent.com/26409217/33185160-b3c8b012-d0bb-11e7-9652-5e8bf92563f7.PNG)
![1](https://user-images.githubusercontent.com/26409217/33185162-b6848ab0-d0bb-11e7-88

[2017-11-23 19:21] irvin commented on #580
我的意思是現在的那個反光「不好」，不用加回去啦哈哈

[2017-11-25 17:53] Akanyan commented on #580
上次的意見不多害我不知道怎麼調整比較好了(((((
@irvin 好的，我嘗試用我自己風格做反光

古老版本
-重新調正反光與陰影。

新版本
-更改了字體及白邊寬度

![4](https://user-images.githubusercontent.com/26409217/33233142-943d407c-d24c-11e7-9614-60860dee2f66.PNG)

![3](https://user-images.githubusercontent.com/26409217/33233141-940db334-d24c-11e7-978f-a8cb048c725b.PNG)

[2017-11-28 16:25] Akanyan commented on #580
比照古老版本製作
-修改陰影，讓字比較突出
-修改反光位置

![default](https://user-images.githubusercontent.com/26409217/33330994-5bd820c0-d49b-11e7-916c-39ef3220ef79.png)

[2017-12-04 12:28] irvin opened #587 "/space "keyholder 申請辦法" 連結錯誤"
現在的連結是： https://public.etherpad-mozilla.org/p/moztw-taipei-space-key

[2017-12-07 15:34] Akanyan commented on #580
最近比較有空一點又微調整了新版跟舊版樣式，如果有其他建議也可以提出來，然後再看看要放什麼版本上去

古老版本：
-修改文字反光(大字與小字是分開的)

新版本：
-重新調整文字大小
-修改文字粗細
-調整文字白邊寬度

![6](https://user-images.githubusercontent.com/26409217/33723228-1379ff5c-dba7-11e7-8171-926c8eb53383.PNG)
![5](https://user-images.githubusercontent.com/26409217/33723230-148bd80c-dba7-11e7-8999-0f771d69dd72.PNG)

[2017-12-08 03:45] irvin commented on #580
第二版的頭沒上立體陰影，故意的嗎？
第一版的字夠好了。

我覺得第二版的頭（補陰影）、第一版的字，這樣就沒問題了。

[2018-02-26 07:15] irvin opened #588 "工寮頁面申請鑰匙的連結錯誤"
https://moztw.org/space/

「詳見申請辦法，歡迎有志之士聯絡我們。」的「申請辦法」連結壞了
新的網址： https://public.etherpad-mozilla.org/p/moztw-taipei-space-key

[2018-03-18 08:07] irvin opened #590 "幫 Telegram 頁面加上圖示"
由於頻道越來越多了，加上圖示讓打開頁面的人更好辨認

![screenshot-2018-3-18 moztw telegram groups](https://user-images.githubusercontent.com/165936/37563928-708e308c-2ac6-11e8-9c24-9b47dfb7077e.png)

[2018-03-18 08:43] irvin commented on #581
before:
https://screenshots.firefox.com/OBlp5WFcNFUjPusa/moztw.org
after:
https://screenshots.firefox.com/YagjHU4g8ylfaM9D/moztw.org
https://screenshots.firefox.com/nwjDYwlB8dYuGVeC/moztw.org

[2018-03-18 08:49] #581 closed

[2018-04-13 12:51] edenftp opened #591 "請官方為Focus追加功能"
1.請增加自動更新升級軟件版本功能,其他版本都有就唯讀他沒有!
2.請增加禁止網頁自動播放影音功能,參考如下:
https://www.ettoday.net/news/20170918/1013302.htm

[2018-04-13 14:31] wildskyf commented on #107
結果現在 feed 全部死光光了XD

[2018-04-13 14:31] wildskyf commented on #107
而且 mozilla 把 sandstone 換掉惹

[2018-04-13 14:47] wildskyf opened #592 "404 頁面上的連結加上 ga"
as @Irvin said in #81 :

[2018-04-13 14:52] wildskyf commented on #591
Hi @edenftp

感謝你對 Firefox Focus 提供寶貴的意見，
但這裡是給 Mozilla 台灣社群管理 <https://moztw.org> 網站的開發/維護的相關訊息，
不是讓 Firefox Focus 使用者提需求的地方，建議你可以前往 [Firefox Focus](https://support.mozilla.org/zh-TW/questions/focus-firefox) 提供你的意見哦～

[2018-04-14 06:06] irvin commented on #107
暫時也沒有這麼多訊息的需求了，還是關了吧⋯⋯

[2018-04-14 06:06] #107 closed

[2018-04-14 06:52] irvin commented on #591
請到這邊的 focus-ios 與 focus-android 的 issue 去提供意見回饋
https://github.com/mozilla-mobile

[2018-04-14 06:52] #591 closed

[2018-04-20 12:26] #588 closed

[2018-05-24 15:06] irvin opened #595 "/foxmosa telegram 貼圖連結失效"
原本的被下架了，換成 https://t.me/addstickers/FoxmosaTW

[2018-06-28 03:17] irvin opened #599 "編譯 html 並 deploy 到 gh-pages 分支"

[2018-06-28 03:17] irvin commented on #599
#597
#596

[2018-06-28 03:18] irvin opened #600 "google analytic 雙站點期間的準備"
gh-pages 搬遷期間，ga 可能可以對應兩個 domain

不一定要處理就是

[2018-06-28 03:45] irvin opened #601 "DNS www 指向 github pages"
等 github pages work 之後要找 piaip 修改 dns 設定

[2018-06-29 03:32] irvin opened #602 "使用 cloudflare 擋在 forum 前面，避免掛站時完全無法存取"

[2018-11-20 13:19] irvin opened #606 "把工寮 CO2 數值嵌到網頁上"
https://thingspeak.com/channels/631210/widgets/21165
直接 iframe embed 到 /space 頁面上下面去，可參考之前同頁面上 pm2.5 的位置

[2018-11-20 13:31] pan93412 commented on #606
打算接手。

[2018-11-20 14:45] pan93412 commented on #606
https://github.com/moztw/www.moztw.org/pull/607

Done.

[2018-11-25 10:33] irvin commented on #606
thanks

[2018-11-25 10:33] #606 closed

[2018-11-25 10:36] irvin opened #608 "工寮網頁加上社群參與指南"
ref #446

[2018-11-25 10:37] irvin commented on #608
fixed by a58936883a4b2678167069e3af0f863d7b2c2fa9

[2018-11-25 10:37] #608 closed

[2019-01-06 06:18] wildskyf opened #609 "moztw.org/tg 似乎壞了"
https://moztw.org/tg

<img width="1280" alt="2019-01-06 14 17 42" src="https://user-images.githubusercontent.com/6042803/50732864-dc0f6b80-11bd-11e9-80c1-b7fed169db52.png">

[2019-01-10 03:15] irvin opened #611 "Thunderbird 下載版本更新"

[2019-01-10 03:16] irvin opened #612 "Apache SSI 本機測試時會錯誤"

[2019-01-10 03:17] #611 closed

[2019-01-10 03:18] #612 closed

[2019-01-10 03:20] irvin commented on #609
看來是因為這幾天主機不穩，我們看到的頁面是 transparent proxy 出的，當選完 captcha 後，需要主機上的 php 反應時就卡住了

[2019-01-11 18:35] irvin opened #615 "新聞缺 thunderbird 60.4.0"

[2019-01-11 18:36] irvin opened #616 "首頁下方 moztw planet rss 內容區塊故障了"

[2019-01-11 18:37] irvin commented on #609
主機恢復，php 回來就恢復了

[2019-01-11 18:37] #609 closed

[2019-01-11 18:40] irvin commented on #616
跟這邊有關
https://github.com/moztw/www.moztw.org/blob/master/index.shtml#L318

看 console 錯誤訊息，應該是 yql 不知道怎麼故障了

[2019-12-21 08:04] #616 closed

[2020-03-05 03:14] bobchao commented on #553
沒問題啊完全不記得這件了呢 XD

[2020-03-16 01:53] chyuaner opened #637 "移除 "參與我們"頁面的 "推廣 Mozilla"→"Firefox 夥伴計畫" 連結"
"參與我們"頁面的 "推廣 Mozilla"→"Firefox 夥伴計畫" 連結已經失效囉

[2020-03-16 02:56] irvin commented on #637
那個專案死掉了，請直接砍掉

[2020-06-13 09:40] #637 closed

[2020-06-13 09:40] irvin commented on #637
fixed by https://github.com/moztw/www.moztw.org/pull/649

[2021-06-17 08:20] #350 closed

[2021-06-17 08:20] #363 closed

[2021-06-17 08:20] #398 closed

[2021-09-04 11:46] irvin opened #679 "修復首頁 RSS"
首頁中間的 RSS 聯播，會用 js 叫一個 json 回來組出聯播區塊，但現有的 RSS 轉 JSON 服務是透過 integromat 組裝，直接讓所有 client 都去叫 Integromat 會超過免費方案的 budget。

需要有人幫忙弄一個 node 或者 php 的 api cache service，每次有人去叫這個 api 時，就直接從 cache 中吐回 json；然後每天 invalid 一次再去跟後面 integromat 要更新的 RSS JSON。

----

每 24 小時去這個 endpoint 拿回 JSON 物件
https://hook.us1.make.com/lvow76y9di4s3swd8hj27preuwjm053u

----

或者在主機上把 https://planet.moztw.org/atom.xml 轉成 JSON API

[2021-09-04 11:48] irvin commented on #679
結果先用 integromat 拼湊了一個 api 起來，只是免費帳號流量應該不夠，先觀察個兩天看看
<img width="1731" alt="截圖 2021-09-04 下午7 43 18" src="https://user-images.githubusercontent.com/165936/132093328-d37fc55c-dcd8-41af-af25-cfe1f738331c.png">

[2021-10-06 13:21] irvin commented on #679
<img width="963" alt="截圖 2021-10-06 下午9 19 42" src="https://user-images.githubusercontent.com/165936/136210382-72cc230c-c777-40d8-9b76-451710bdcdd1.png">
一個月的流量大概 5MB / 9000 operation 左右，如果是收費帳號大概需要 9 USD

[2021-10-06 13:21] irvin commented on #679
如果有人可以

[2022-02-24 02:55] cumbrained opened #682 "it's gay"
BBBBBBBBBRRRRRRRRRRRAAAAAAAAAAAPPPPPPPPPPPPPPPPP

snnnnniiiiiiffffffffffff...oh yes my dear....sssnnnnnnnnnnnniiiiiiiiffffffff....quite pungent indeed...is that....dare I say....sssssssnniff...eggs I smell?......sniff sniff....hmmm...yes...quite so my darling....sniff....quite pungent eggs yes very much so .....ssssssssssssssnnnnnnnnnnnnnnniiiiiiiffffff....ah yes...and also....a hint of....sniff..

[2022-05-04 16:47] irvin opened #683 "更新 Firefox 下載版本"
每六週更新首頁的 Firefox 下載按鈕的連結中的版號

[2022-05-20 13:48] RJHsiao commented on #679
原始資料路徑：https://planet.moztw.org/atom.xml
這個我寫個 parser 轉 json 出來就好

[2022-05-20 14:12] chyuaner commented on #679
簡易的抓取xml並轉json的PHP腳本

[code]

[2022-05-20 14:15] pan93412 commented on #679
簡易的抓取 xml 並轉 json 的 JS 腳本：

[code]

[2022-05-25 04:19] mingtsay commented on #679
You may integrate the RSS on the index page this repo:
https://github.com/moztw/planet-rss-json

It provides the JSON per day 02:34 UTC

[2022-05-25 09:51] #679 closed

[2022-05-27 08:32] irvin opened #686 "首頁 rss 各元素的連結失效"
https://user-images.githubusercontent.com/165936/170662275-9e494088-2ace-4582-ba57-ae7a691db799.mp4

[2022-05-30 12:53] #686 closed, assigned to nobody

[2022-06-12 05:41] irvin opened #688 "node 開發環境下 */download/ 不會動"
例如 http://localhost:3000/firefox/download/

<img width="820" alt="截圖 2022-06-12 下午1 41 17" src="https://user-images.githubusercontent.com/165936/173217396-e19be674-1f00-422f-b42c-5c2c41909c20.png">

[2022-06-12 06:04] afan0918 opened #689 "windows下使用node.js建立環境後，頁面跳轉有錯誤"
預期點擊連結後，跳轉至
[code]
實際行為則是跳轉到
[code]
而導致無法成功跳轉，所有連結幾乎都有以下問題。

[2022-06-12 06:04] #688 closed

[2022-06-12 06:09] irvin opened #691 "dev 下點首頁下載連結時會轉到錯誤畫面"
中間會到沒有樣式的下載頁，然後就轉到一個看起來是錯誤的 SSI
https://user-images.githubusercontent.com/165936/173219407-20bab599-4a46-450e-af1c-4c2155e0b99d.mov

[2022-06-12 06:26] afan0918 commented on #689
原因是因為未安裝php所導致，安裝後解決。

[2022-06-12 08:45] irvin opened #693 "更新下載版本到 101"

[2022-06-12 08:46] irvin commented on #683
#693

[2022-06-12 08:46] #693 closed

[2022-06-12 08:47] irvin opened #694 "更新 firefox release notes v101"
https://hackmd.io/@moztw/firefox-release-notes-100

[2022-06-12 08:47] irvin opened #695 "更新 firefox release notes v100"

[2022-06-12 17:26] RJHsiao commented on #689
這樣 README 應該要修正？
目前 README 中 Development 底下沒提到有相依 PHP
只有在 Static Pages Local Installation 下面有列 PHP，內容為：

[2022-06-12 17:49] mingtsay commented on #689
怪了，我記得不用裝 PHP 才對，我這幾天 dig in 找看看是什麼造成的

[2022-06-15 19:39] mingtsay commented on #689
目前實測乾淨環境 debian 裝 node `v18.3.0` 跟 npm `v8.11.0` 沒這個問題
可能是 cache 沒有清乾淨或其他問題（需要更多資訊）

另外我送了 #696 新增 `docker-compose.yml` 檔案
如果真的用 Node.JS 不能正常跑的話，還可以用 docker 解決

[2022-06-18 08:07] SiongSng opened #697 "更換 Firefox Logo 至最新版本"
Firefox 70 以上版本的 Logo

![logo](https://user-images.githubusercontent.com/48402225/174428885-8e73367a-08ca-492f-9018-49aa395ca13e.png)

[2022-06-18 08:10] irvin commented on #697
圖片在此： https://mozilla.design/firefox/logos-usage/ （下拉到 "Firefox browser logos"）

[2022-06-18 08:13] irvin commented on #694
- https://moztw.org/firefox/releases/101.0
- https://moztw.org/firefox/releases/101.0.1

[2022-06-18 08:14] #694 closed

[2022-06-18 08:16] irvin commented on #580
missed 掉這個 issue 了！！！
@Akanyan  可以上傳你手上製作中的原始檔嗎？

[2022-06-19 03:18] irvin commented on #580
![MozTW LOGO_](https://user-images.githubusercontent.com/165936/174464420-750302c6-802a-43d8-b19e-dc6929785cd7.svg)
[MozTW LOGO_.ai.pdf](https://github.com/moztw/www.moztw.org/files/8934694/MozTW.LOGO_.ai.pdf)

[2022-07-11 03:54] mingtsay opened #699 "[GA -> GA4] Migration"
According to the following article, we should migrate our Universal Analytics to Google Analytics 4:

https://support.google.com/analytics/answer/11583528

### Due date:

July 1, 2023

### Migration Document:

https://support.google.com/analytics/answer/10759417